@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);.brand-primary {
  color: #1dcfcc;
}

.color-white, .register-btn, .chat-btn {
  color: #FFFFFF;
}

.color-black {
  color: #000000;
}

.color-gray {
  color: #848484;
}

.color-white2 {
  color: rgba(255, 255, 255, 0.5);
}

body {
  background-color: #000000;
  font-family: 'Muli-Regular';
  font-size: 0.8rem;
}

@font-face {
  font-family: 'Muli-Regular';
  src: url("../css/fonts/Muli-Regular.eot?#iefix") format("embedded-opentype"), url("../css/fonts/Muli-Regular.woff") format("woff"), url("../css/fonts/Muli-Regular.ttf") format("truetype"), url("../css/fonts/Muli-Regular.svg#Muli-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muli-ExtraLight';
  src: url("../css/fonts/Muli-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../css/fonts/Muli-ExtraLight.woff") format("woff"), url("../css/fonts/Muli-ExtraLight.ttf") format("truetype"), url("../css/fonts/Muli-ExtraLight.svg#Muli-ExtraLight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muli-SemiBold';
  src: url("../css/fonts/Muli-SemiBold.eot?#iefix") format("embedded-opentype"), url("../css/fonts/Muli-SemiBold.woff") format("woff"), url("../css/fonts/Muli-SemiBold.ttf") format("truetype"), url("../css/fonts/Muli-SemiBold.svg#Muli-SemiBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

.hover, .social-media ul li:hover, .register-btn, .chat-btn, .amenities-main .amenities-icon, .text-hover, .text-hover2 {
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
}

.title, .section-title, .extralight, .amenities-main .amenities-tab-show-content h3 {
  font-family: 'Muli-ExtraLight';
}

.semibold, .form-control, .register-content, .chat-content-box .chat-text-box, .project-name {
  font-family: 'Muli-SemiBold';
}

.font10 {
  font-size: 0.6rem !important;
}

.font11 {
  font-size: 0.7rem !important;
}

.font12, .chat-content-box .chat-text-box, .project-details-page .nav.project-details a, .home-page p {
  font-size: 0.8rem !important;
}

.font13 {
  font-size: 0.9rem;
}

.font14 {
  font-size: 1rem;
}

.font15 {
  font-size: 1.2rem;
}

.font16 {
  font-size: 1.6rem;
}

.bg-color-black-op8 {
  background-color: rgba(0, 0, 0, 0.8);
}

.bg-color-black-op6, nav.main-nav, nav, nav.atmos-nav, .register-content, .news-page .nav-pills .nav-link.active, .news-page .nav-pills .show > .nav-link, .project-main ul li, .ouryteam-main #management-content ul li .overlap-div, .ouryteam-main #advisory-content ul li .overlap-div {
  background-color: rgba(0, 0, 0, 0.6);
}

.bg-color-black {
  background-color: #000000;
}

.bg-color-white {
  background-color: #FFFFFF !important;
}

.bg-brand-color {
  background-color: #1dcfcc;
}

.h-100vh {
  height: 100vh;
}

.text-decoration {
  text-decoration: underline;
}

.cursor-pointer {
  cursor: pointer;
}

.align-center {
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul {
  padding: 0px;
  margin: 0px;
}

ul li {
  list-style: none;
}

.section-pl-12 {
  padding-left: 12%;
}

.section-pl-25 {
  padding-left: 25%;
}

.section-title {
  font-size: 50px;
  position: relative;
}

.project-details-page .section-title:after {
  display: block;
  content: "Virtual Tour";
  margin-left: 2rem;
  font-size: 0.7rem;
  padding: 7px;
  border: 1px solid #FFFFFF;
  position: absolute;
  right: -57%;
  top: 33%;
}

.title-line:before {
  content: "";
  width: 11%;
  position: absolute;
  height: 1px;
  left: 0px;
  top: 30px;
  background-color: #1dcfcc;
}

.text-hover:hover {
  color: #1dcfcc;
  cursor: pointer;
}

.text-hover2:hover {
  color: #FFFFFF;
  cursor: pointer;
}

.list-style li {
  padding-left: 15px;
  background: url("../images/li-dot.png") 3px 7px no-repeat;
}

/********************** navigation *******************************/
.navigation__button {
  top: 0.2rem;
}

.close__button {
  top: -0.1rem;
}

.navigation__button, .close__button {
  background-color: transparent;
  height: 3rem;
  width: 3rem;
  position: fixed;
  right: 0.5rem;
  border-radius: 50%;
  z-index: 2000;
  text-align: center;
  cursor: pointer;
  display: none;
}

.navigation__icon, .navigation__icon::before, .navigation__icon::after, .close__button::before, .close__button::after {
  width: 25px;
  height: 2px;
  background-color: #FFFFFF;
  display: inline-block;
}

.navigation__icon::before, .navigation__icon::after {
  background-color: #FFFFFF;
}

.navigation__icon {
  background-color: #1dcfcc;
}

.navigation__icon {
  position: relative;
  margin-top: 20px;
}

.navigation__icon::before {
  top: -.5rem;
}

.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.navigation__icon::before {
  top: -.5rem;
}

.navigation__icon::after {
  top: .5rem;
}

.mobile-nav {
  display: none;
}

@media only screen and (max-width: 768px) {
  .navigation__button, .close__button {
    display: block;
  }
  nav, nav.mobile-nav {
    display: none;
  }
  nav.mobile-nav {
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    position: absolute;
    left: 0;
    z-index: 99999;
  }
  nav.mobile-nav:hover {
    width: 100%;
    height: 100%;
  }
  nav.mobile-nav ul {
    left: 50%;
    top: 50%;
    position: absolute;
    -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
  }
  nav.mobile-nav li {
    height: 35px;
    line-height: inherit !important;
    font-size: 0.9rem;
  }
  nav.mobile-nav .social-media-icon {
    width: 17px;
    height: 16px;
    float: left;
    background-size: 17px auto;
    background-position: 0px 0px;
  }
  nav.mobile-nav .social-media-icon:hover {
    background-position: 0px -16px;
  }
  .close__button .navigation__icon {
    margin-top: 1rem;
  }
  .close__button .navigation__icon::before {
    top: 0.5rem !important;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  .close__button .navigation__icon::after {
    top: 0.5rem !important;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  .close__button .navigation__icon {
    background-color: transparent;
  }
  nav.mobile-nav a li {
    color: #FFFFFF;
    text-decoration: none;
  }
  nav.mobile-nav a:hover, nav.mobile-nav a li.active {
    color: #1dcfcc;
    text-decoration: none;
  }
}

@media only screen and (max-width: 767px) {
  nav.mobile-nav li::after {
    content: "";
    display: block;
    width: 0px;
    height: 1px;
    position: absolute;
    right: 198px;
    top: 9px;
    -webkit-transition: width 0.4s;
    transition: width 0.4s;
    background-color: #1dcfcc;
  }
  .mobile-nav li.active#mobi-home::after, .mobile-nav li.active#mobi-team::after {
    width: 108px;
  }
  .mobile-nav li.active#mobi-projects::after {
    width: 77px !important;
  }
  .mobile-nav li.active#mobi-news::after {
    width: 103px !important;
  }
  .mobile-nav li.active#mobi-connect::after {
    width: 78px;
  }
  .mobile-nav li.active#mobi-joinus::after {
    width: 93px;
  }
  .mobile-nav li.active#login::after {
    width: 111px;
  }
  .mobile-nav li.active#mobi-pp::after {
    width: 57px;
  }
  .mobile-nav li.active#mobi-tnc::after {
    width: 30px;
  }
  .mobile-nav li.active#mobi-atmos-home::after {
    width: 30px;
  }
  .mobile-nav li.active#mobi-gallery::after {
    width: 50px;
  }
  .mobile-nav li.active#mobi-location::after {
    width: 30px;
  }
  .mobile-nav li.active#mobi-amenities::after {
    width: 50px;
  }
  .mobile-nav li.active#mobi-project-plan::after {
    width: 30px;
  }
  .mobile-nav li.active#mobi-unit-plan::after {
    width: 50px;
  }
  .mobile-nav li.active#mobi-news::after {
    width: 30px;
  }
  .mobile-nav li.active#mobi-connect::after {
    width: 50px;
  }
  .mobile-nav li.active#mobi-joinus::after {
    width: 50px;
  }
  nav.mobile-nav {
    background-color: transparent;
    padding: 0px;
  }
  nav.mobile-nav ul {
    left: 55%;
  }
  nav.mobile-nav:hover {
    padding-left: 0px;
  }
  nav.mobile-nav .menu-close {
    width: 45%;
    float: left;
    height: 100%;
  }
  .mobile-bg {
    width: 55%;
    height: 100%;
    float: right;
    background-color: rgba(0, 0, 0, 0.8);
  }
}

/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
/*********************** Header Nav *******************************************/
nav {
  top: 42%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

nav.main-nav, nav {
  width: 129px;
  padding: 8px 15px;
  -webkit-transition: width 0.4s, padding 0.4s, height 0.4s;
  /* For Safari 3.1 to 6.0 */
  transition: width 0.4s, padding 0.4s, height 0.4s;
  position: absolute;
  right: 0;
  z-index: 9999;
}

nav.main-nav:hover, nav:hover {
  width: 220px;
  padding-left: 50px;
}

nav.main-nav:hover li, nav:hover li {
  line-height: 35px;
  height: 35px;
}

nav.main-nav .home-nav li:nth-child(2), nav .home-nav li:nth-child(2) {
  margin-left: -15px !important;
}

nav.main-nav .team-nav li:nth-child(1), nav.main-nav .team-nav li:nth-child(3), nav .team-nav li:nth-child(1), nav .team-nav li:nth-child(3) {
  margin-left: -15px !important;
}

nav.main-nav .projects-nav li, nav .projects-nav li {
  margin-left: 0px;
}

nav.main-nav .projects-nav li:nth-child(1), nav.main-nav .projects-nav li:nth-child(3), nav .projects-nav li:nth-child(1), nav .projects-nav li:nth-child(3) {
  margin-left: -15px !important;
}

nav.main-nav .news-nav li:nth-child(2), nav.main-nav .news-nav li:nth-child(4), nav .news-nav li:nth-child(2), nav .news-nav li:nth-child(4) {
  margin-left: -15px !important;
}

nav.main-nav .connect-nav li:nth-child(3), nav.main-nav .connect-nav li:nth-child(5), nav .connect-nav li:nth-child(3), nav .connect-nav li:nth-child(5) {
  margin-left: -15px !important;
}

nav.main-nav .joinus-nav li:nth-child(4), nav .joinus-nav li:nth-child(4) {
  margin-left: -15px !important;
}

nav.main-nav ul, nav ul {
  width: 100%;
  float: left;
}

nav.main-nav ul li, nav ul li {
  height: 22px;
  text-align: left;
  text-transform: uppercase;
  -webkit-transition: padding 0.4s, margin 0.4s, font-size 0.4s, height 0.4s, font-size 0.4s;
  /* For Safari 3.1 to 6.0 */
  transition: padding 0.4s, margin 0.4s, font-size 0.4s, height 0.4s, font-size 0.4s;
  position: relative;
  font-size: 0.7rem;
}

nav.main-nav ul li:hover, nav ul li:hover {
  color: #1dcfcc;
  margin-left: -30px;
}

nav.main-nav ul li:hover:after, nav ul li:hover:after {
  content: "";
  height: 1px;
  position: absolute;
  right: -15px;
  top: 17px;
  background-color: #1dcfcc;
}

nav.main-nav ul li:nth-child(1):hover:after, nav ul li:nth-child(1):hover:after {
  width: 153px;
}

nav.main-nav ul li:nth-child(2):hover:after, nav ul li:nth-child(2):hover:after {
  width: 130px;
}

nav.main-nav ul li:nth-child(3):hover:after, nav ul li:nth-child(3):hover:after {
  width: 153px;
}

nav.main-nav ul li:nth-child(4):hover:after, nav ul li:nth-child(4):hover:after {
  width: 153px;
}

nav.main-nav ul li:nth-child(5):hover:after, nav ul li:nth-child(5):hover:after {
  width: 133px;
}

nav.main-nav ul li:nth-child(6):hover:after, nav ul li:nth-child(6):hover:after {
  width: 147px;
}

nav.main-nav ul li:nth-child(7):hover:after, nav ul li:nth-child(7):hover:after {
  width: 140px;
}

nav li:after {
  content: "";
  display: block;
  width: 0px;
  height: 1px;
  position: absolute;
  right: -15px;
  top: 17px;
  -webkit-transition: width 0.4s;
  /* For Safari 3.1 to 6.0 */
  transition: width 0.4s;
  background-color: #1dcfcc;
}

nav li a {
  color: #FFFFFF;
  text-decoration: none;
}

nav li a:hover, nav li a.active {
  color: #1dcfcc;
  text-decoration: none;
}

@media screen and (max-width: 5000px) and (min-width: 1024px) {
  .mobile-nav {
    display: none;
  }
}

nav.atmos-nav, nav {
  width: 129px;
  padding: 8px 15px;
  -webkit-transition: width 0.4s, padding 0.4s, height 0.4s;
  /* For Safari 3.1 to 6.0 */
  transition: width 0.4s, padding 0.4s, height 0.4s;
  position: absolute;
  right: 0;
  z-index: 9999;
}

nav.atmos-nav:hover, nav:hover {
  width: 220px;
  padding-left: 50px;
}

nav.atmos-nav:hover li, nav:hover li {
  line-height: 35px;
  height: 35px;
}

nav.atmos-nav .home-nav li:nth-child(2), nav .home-nav li:nth-child(2) {
  margin-left: -15px !important;
}

nav.atmos-nav .gallery-nav li:nth-child(1), nav.atmos-nav .gallery-nav li:nth-child(3), nav .gallery-nav li:nth-child(1), nav .gallery-nav li:nth-child(3) {
  margin-left: -15px !important;
}

nav.atmos-nav .location-nav li:nth-child(2), nav.atmos-nav .location-nav li:nth-child(4), nav .location-nav li:nth-child(2), nav .location-nav li:nth-child(4) {
  margin-left: -15px !important;
}

nav.atmos-nav .amenities-nav li:nth-child(3), nav.atmos-nav .amenities-nav li:nth-child(5), nav .amenities-nav li:nth-child(3), nav .amenities-nav li:nth-child(5) {
  margin-left: -15px !important;
}

nav.atmos-nav .project-plan-nav li:nth-child(4), nav.atmos-nav .project-plan-nav li:nth-child(6), nav .project-plan-nav li:nth-child(4), nav .project-plan-nav li:nth-child(6) {
  margin-left: -15px !important;
}

nav.atmos-nav .unit-plan-nav li:nth-child(5), nav.atmos-nav .unit-plan-nav li:nth-child(7), nav .unit-plan-nav li:nth-child(5), nav .unit-plan-nav li:nth-child(7) {
  margin-left: -15px !important;
}

nav.atmos-nav .news-atmos-nav li:nth-child(6), nav.atmos-nav .news-atmos-nav li:nth-child(8), nav .news-atmos-nav li:nth-child(6), nav .news-atmos-nav li:nth-child(8) {
  margin-left: -15px !important;
}

nav.atmos-nav .connect-atmos-nav li:nth-child(7), nav.atmos-nav .connect-atmos-nav li:nth-child(9), nav .connect-atmos-nav li:nth-child(7), nav .connect-atmos-nav li:nth-child(9) {
  margin-left: -15px !important;
}

nav.atmos-nav .joinus-atmos-nav li:nth-child(8), nav .joinus-atmos-nav li:nth-child(8) {
  margin-left: -15px !important;
}

nav.atmos-nav ul, nav ul {
  width: 100%;
  float: left;
}

nav.atmos-nav ul li, nav ul li {
  height: 22px;
  text-align: left;
  text-transform: uppercase;
  -webkit-transition: padding 0.4s, margin 0.4s, font-size 0.4s, height 0.4s, font-size 0.4s;
  /* For Safari 3.1 to 6.0 */
  transition: padding 0.4s, margin 0.4s, font-size 0.4s, height 0.4s, font-size 0.4s;
  position: relative;
  font-size: 0.7rem;
}

nav.atmos-nav ul li:hover, nav ul li:hover {
  color: #1dcfcc;
  margin-left: -30px;
}

nav.atmos-nav ul li:hover:after, nav ul li:hover:after {
  content: "";
  height: 1px;
  position: absolute;
  right: -15px;
  top: 17px;
  background-color: #1dcfcc;
}

nav.atmos-nav ul li:nth-child(1):hover:after, nav ul li:nth-child(1):hover:after {
  width: 140px;
}

nav.atmos-nav ul li:nth-child(2):hover:after, nav ul li:nth-child(2):hover:after {
  width: 130px;
}

nav.atmos-nav ul li:nth-child(3):hover:after, nav ul li:nth-child(3):hover:after {
  width: 125px;
}

nav.atmos-nav ul li:nth-child(4):hover:after, nav ul li:nth-child(4):hover:after {
  width: 120px;
}

nav.atmos-nav ul li:nth-child(5):hover:after, nav ul li:nth-child(5):hover:after {
  width: 100px;
}

nav.atmos-nav ul li:nth-child(6):hover:after, nav ul li:nth-child(6):hover:after {
  width: 122px;
}

nav.atmos-nav ul li:nth-child(7):hover:after, nav ul li:nth-child(7):hover:after {
  width: 145px;
}

nav.atmos-nav ul li:nth-child(8):hover:after, nav ul li:nth-child(8):hover:after {
  width: 125px;
}

nav.atmos-nav ul li:nth-child(9):hover:after, nav ul li:nth-child(9):hover:after {
  width: 138px;
}

nav ul {
  width: 100%;
  float: left;
  text-transform: uppercase;
}

.mytext {
  border: 0;
  padding: 10px;
  background: white;
}

.text {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.text > p:first-of-type {
  width: 100%;
  margin-top: 0;
  margin-bottom: auto;
  line-height: 13px;
  font-size: 12px;
}

.text > p:last-of-type {
  width: 100%;
  text-align: right;
  color: silver;
  margin-bottom: -7px;
  margin-top: auto;
}

.text-l {
  float: left;
  padding-right: 10px;
}

.text-r {
  float: right;
  padding-left: 10px;
}

.avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
  float: left;
  padding-right: 10px;
}

.macro {
  margin-top: 5px;
  width: 85%;
  border-radius: 5px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.msj-rta {
  float: right;
  background: white;
}

.msj {
  float: left;
  background: whitesmoke;
}

.frame {
  background: #e0e0de;
  overflow: auto;
  padding: 0;
  position: fixed;
  bottom: 0px;
  width: 325px;
}

.panel-heading {
  cursor: pointer;
}

.innerframe > div:last-of-type {
  position: absolute;
  bottom: 5px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#messages {
  width: 100%;
  list-style-type: none;
  padding: 0 18px 18px 18px;
  position: absolute;
  top: 95px;
  bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: scroll;
}

.msj:before {
  width: 0;
  height: 0;
  content: "";
  top: -5px;
  left: -14px;
  position: relative;
  border-style: solid;
  border-width: 0 13px 13px 0;
  border-color: transparent whitesmoke transparent transparent;
}

.msj-rta:after {
  width: 0;
  height: 0;
  content: "";
  top: -5px;
  left: 14px;
  position: relative;
  border-style: solid;
  border-width: 13px 13px 0 0;
  border-color: #ffffff transparent transparent transparent;
}

input:focus {
  outline: none;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #d4d4d4;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #d4d4d4;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #d4d4d4;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #d4d4d4;
}

@media only screen and (max-width: 37.5em) {
  .chat__box-main {
    right: 50% !important;
    -webkit-transform: translate(50%, 0%) !important;
            transform: translate(50%, 0%) !important;
    width: 100%;
    bottom: 0px;
  }
}

.chat__box-main {
  right: 9.5rem;
}

.chat__box-main #chat-panel {
  background-color: #1dcfcc;
  padding: 1rem;
}

.chat__box-main .msj.macro {
  background-color: #000000;
  color: #FFFFFF;
}

.chat__box-main .msj.macro:before {
  border-color: transparent black transparent transparent;
}

.chat__box-main .msj-rta.macro {
  color: #000000;
}

#messages {
  height: 200px;
}

.innerframe {
  height: 300px;
}

#messages::-webkit-scrollbar, .content-scrollbar::-webkit-scrollbar {
  width: 6px;
  background-color: rgba(0, 0, 0, 0.6);
}

#messages::-webkit-scrollbar-thumb, .content-scrollbar::-webkit-scrollbar-thumb {
  background-color: #1dcfcc;
}

#messages::-moz-scrollbar, .content-scrollbar::-moz-scrollbar {
  width: 6px;
  background-color: rgba(0, 0, 0, 0.6);
}

#messages::-moz-scrollbar-thumb, .content-scrollbar::-moz-scrollbar-thumb {
  background-color: #1dcfcc;
}

#messages::-scrollbar, .content-scrollbar::-scrollbar {
  width: 6px;
  background-color: rgba(0, 0, 0, 0.6);
}

#messages::-scrollbar-thumb, .content-scrollbar::-scrollbar-thumb {
  background-color: #1dcfcc;
}

#messages::-ms-scrollbar, .content-scrollbar::-ms-scrollbar {
  width: 6px;
  background-color: rgba(0, 0, 0, 0.6);
}

#messages::-ms-scrollbar-thumb, .content-scrollbar::-ms-scrollbar-thumb {
  background-color: #1dcfcc;
}

* {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  -o-user-select: none;
  user-select: none;
}

input, select, textarea {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  -o-user-select: text;
}

.brand-primary-hover:hover {
  color: #1dcfcc;
}

html, body {
  height: 100%;
  width: 100%;
  color: #FFFFFF !important;
}

.form-control {
  border-radius: 0px;
  font-size: 0.7rem;
  border: 0px;
  padding: 8.5px 0.75rem;
  color: #000000;
}

select {
  width: 100%;
  padding: 7.5px 0.75rem;
  font-size: 0.7rem;
}

textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  background-color: #FFFFFF !important;
  max-height: 71px;
  min-height: 71px;
  font-size: 0.7rem;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #FFFFFF;
}

.form-control:focus {
  border: #1dcfcc;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(29, 207, 204, 0.55);
          box-shadow: 0 0 0 0.2rem rgba(29, 207, 204, 0.55);
}

.carousel-control-prev, .carousel-control-next {
  color: #1dcfcc;
  z-index: 999999;
}

.carousel-control-prev-icon {
  background: url("../images/prev-icon.png");
}

.carousel-control-next-icon {
  background: url("../images/next-icon.png");
}

.carousel-indicators .active {
  background-color: #1dcfcc;
}

.carousel-indicators li {
  background-color: #000000;
  width: 8px;
  height: 8px;
  border-radius: 100%;
}

.styled-select {
  width: 100px;
  overflow: hidden;
  overflow: -moz-hidden-unscrollable;
  background: #FFFFFF url(../images/down-arrow.png) no-repeat right;
  border: 0px double #848484;
  display: inline-block;
  position: relative;
}

.styled-select select {
  background: transparent;
  -webkit-appearance: none;
  border: 0;
}

::-webkit-input-placeholder {
  text-transform: uppercase;
}

:-moz-placeholder {
  text-transform: uppercase;
}

::-moz-placeholder {
  text-transform: uppercase;
}

:-ms-input-placeholder {
  text-transform: uppercase;
}

select.padding {
  padding: 9px 10px 8px 10px;
}

.border-top {
  border-top: 1px solid #FFFFFF;
}

.border-right {
  border-right: 1px solid #FFFFFF;
}

.border-bottom {
  border-bottom: 1px solid #FFFFFF;
}

.border-left {
  border-left: 1px solid #FFFFFF;
}

/* CUSTOM RADIO & CHECKBOXES
   http://stackoverflow.com/a/17541916/383904 */
.rad,
.ckb {
  cursor: pointer;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.rad > input,
.ckb > input {
  /* HIDE ORG RADIO & CHECKBOX */
  visibility: hidden;
  position: absolute;
}

/* RADIO & CHECKBOX STYLES */
.rad > i,
.ckb > i {
  /* DEFAULT <i> STYLE */
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: inset 0 0 0 8px #403f3f;
          box-shadow: inset 0 0 0 8px #403f3f;
  border: 2px solid #1dcfcc;
  background: #1dcfcc;
}

/* CHECKBOX OVERWRITE STYLES */
.ckb > i {
  width: 25px;
  border-radius: 3px;
}

.rad:hover > i {
  /* HOVER <i> STYLE */
  -webkit-box-shadow: inset 0 0 0 3px #403f3f;
          box-shadow: inset 0 0 0 3px #403f3f;
  background: #1dcfcc;
}

.rad > input:checked + i {
  /* (RADIO CHECKED) <i> STYLE */
  -webkit-box-shadow: inset 0 0 0 3px #403f3f;
          box-shadow: inset 0 0 0 3px #403f3f;
  background: #1dcfcc;
}

/* CHECKBOX */
.ckb > input + i:after {
  content: "";
  display: block;
  height: 12px;
  width: 12px;
  margin: 2px;
  border-radius: inherit;
  -webkit-transition: inherit;
  transition: inherit;
  background: #1dcfcc;
}

.ckb > input:checked + i:after {
  /* (RADIO CHECKED) <i> STYLE */
  margin-left: 11px;
  background: #1dcfcc;
}

.btn {
  background-color: #1dcfcc;
  border-radius: 0px;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 0.5rem 2rem;
  font-size: 0.8rem;
  font-size: 0.8rem;
}

.btn:hover {
  background-color: #FFFFFF;
  color: #1dcfcc;
}

.btn.send {
  background-color: #000000;
  padding: 6px 7px;
  margin-top: 8px;
  margin-right: 8px;
}

.btn.send:hover {
  background-color: #1dcfcc;
  color: #000000;
}

.send-input {
  padding: 8px 7px 4px;
}

.send-input textarea {
  height: 35px;
  max-height: inherit;
  min-height: inherit;
}

.overflow-hidden {
  overflow: hidden;
}

header, footer {
  height: 45px;
}

.header-content, .footer-content {
  float: right;
  z-index: 9;
}

.register-main.register-open .register-content {
  margin-top: 46px;
}

.register-content {
  margin-top: -251px;
  -webkit-transition: margin 0.4s;
  /* For Safari 3.1 to 6.0 */
  transition: margin 0.4s;
  width: 285px;
  height: 286px;
  color: #848484;
}

.footer-left-content {
  padding-top: 8px;
  padding-left: 9.5%;
  text-transform: uppercase;
}

.footer-left-content a {
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-left-content a:hover {
  text-decoration: none;
  color: #1dcfcc;
}

.footer-left-content .active {
  color: #1dcfcc;
}

.chat-main, .register-main {
  float: left;
  position: relative;
  -webkit-transition: margin 0.4s;
  /* For Safari 3.1 to 6.0 */
  transition: margin 0.4s;
}

.chat-main.open-chat {
  margin-top: -280px;
}

.chat-main.open-chat .chat-btn, .register-main.register-open .register-btn {
  background-color: #1dcfcc;
}

.chat-content {
  width: 285px;
  height: 325px;
  background-color: #FFFFFF;
  padding-top: 46px;
}

.chat-content-box {
  width: 100%;
  float: left;
  height: 195px;
  overflow: auto;
  border-bottom: 1px solid #1dcfcc;
}

.chat-content-box ul li {
  width: 100%;
  float: left;
  padding: 0.5rem 0.5rem 1.3rem;
}

.chat-content-box li.user .chat-dp {
  float: right;
}

.chat-content-box li.user .chat-text-box {
  background-color: #000000;
  color: #1dcfcc;
  float: right;
  margin-right: 1rem;
  margin-left: inherit;
}

.chat-content-box li.user .chat-text-box:before {
  position: absolute;
  right: -6px;
  top: 10px;
  left: inherit;
  display: block;
  content: "";
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #000000;
  border-right: none;
}

.chat-content-box li.user .chat-text-box .timer-typing {
  position: absolute;
  right: 0px;
  left: inherit;
}

.chat-content-box li.user .chat-text-box .timer {
  text-align: right;
}

.chat-content-box .chat-dp {
  width: 48px;
  height: 48px;
  float: left;
}

.chat-content-box .chat-dp img {
  width: 100%;
  height: 100%;
}

.chat-content-box .chat-text-box {
  background-color: #1dcfcc;
  padding: 0.6rem;
  color: #000000;
  max-width: 198px;
  float: left;
  margin-left: 1rem;
  position: relative;
}

.chat-content-box .chat-text-box:before {
  position: absolute;
  left: -6px;
  top: 10px;
  display: block;
  content: "";
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #1dcfcc;
}

.chat-content-box .chat-text-box .timer-typing {
  position: absolute;
  bottom: -20px;
  left: 0px;
  color: #000000;
  font-size: 0.7rem;
  min-width: 100px;
}

.chat-content-box::-webkit-scrollbar, .content-scrollbar::-webkit-scrollbar {
  width: 6px;
  background-color: rgba(0, 0, 0, 0.6);
}

.chat-content-box::-webkit-scrollbar-thumb, .content-scrollbar::-webkit-scrollbar-thumb {
  background-color: #1dcfcc;
}

.chat-content-box::-moz-scrollbar, .content-scrollbar::-moz-scrollbar {
  width: 6px;
  background-color: rgba(0, 0, 0, 0.6);
}

.chat-content-box::-moz-scrollbar-thumb, .content-scrollbar::-moz-scrollbar-thumb {
  background-color: #1dcfcc;
}

.chat-content-box::-scrollbar, .content-scrollbar::-scrollbar {
  width: 6px;
  background-color: rgba(0, 0, 0, 0.6);
}

.chat-content-box::-scrollbar-thumb, .content-scrollbar::-scrollbar-thumb {
  background-color: #1dcfcc;
}

.chat-content-box::-ms-scrollbar, .content-scrollbar::-ms-scrollbar {
  width: 6px;
  background-color: rgba(0, 0, 0, 0.6);
}

.chat-content-box::-ms-scrollbar-thumb, .content-scrollbar::-ms-scrollbar-thumb {
  background-color: #1dcfcc;
}

.content-scrollbar {
  width: 100%;
  float: left;
  max-height: 410px;
  overflow: auto;
}

.social-media {
  padding-right: 18px;
}

.social-media ul li {
  width: 17px;
  height: 16px !important;
  margin: 15px 14px 15px 0;
  float: left;
  background-size: 17px auto;
  background-position: 0px 0px;
}

.social-media ul li:first-child {
  padding-left: 0;
}

.social-media ul li:hover {
  background-position: 0px -16px;
  margin-left: 0 !important;
}

.social-media ul li::after {
  display: none;
}

.fb-icon {
  background-image: url("../images/fb-icon.png");
}

.ig-icon {
  background-image: url("../images/ig-icon.png");
}

.tw-icon {
  background-image: url("../images/tw-icon.png");
}

.attachment-icon {
  background-size: 12px auto;
  background: #ffffff url("../images/attachment-icon.png") center no-repeat;
}

.attachment-icon {
  position: absolute;
  right: 10px;
  top: 0px;
  height: 33px;
  min-width: 31px;
  z-index: 99;
  margin-bottom: 0px;
}

.main-body, .page-bg {
  position: relative;
  overflow: auto;
  z-index: 1;
  height: calc(100vh - 0px);
  width: 100%;
}

.page-container {
  overflow: hidden;
}

.page-container, .center-middle {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.align-items {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-content {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-center-middle, .ouryteam-main #management-content ul li .overlap-div, .ouryteam-main #advisory-content ul li .overlap-div {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.craft-beer-landing-vidbg {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

section {
  width: calc(100% - 220px);
}

/*********************** Header Register your interest *******************************************/
.register-btn, .chat-btn {
  width: 285px;
  position: absolute;
  cursor: pointer;
  font-size: 0.7rem;
  color: #FFFFFF;
}

.register-btn:hover, .chat-btn:hover {
  background-color: #1dcfcc;
}

.panel-heading:after {
  content: "";
  float: right;
  display: block;
  width: 0;
  height: 0;
  margin-top: 5px;
}

.register-btn, .chat-btn {
  padding: 15px 15px;
  background-color: #002f6d;
  z-index: 9;
  text-align: left;
  text-transform: uppercase;
}

.panel-heading.open-chat:after {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #FFF;
  border-bottom: none;
}

.panel-heading:after {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #FFF;
  border-top: none;
}

.register-btn:after, .chat-btn:after {
  content: "";
  float: right;
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -3px;
}

.register-btn, .chat-btn {
  padding: 15px 15px;
  background-color: #002f6d;
  z-index: 9;
  text-align: left;
  text-transform: uppercase;
}

.register-btn:after, .chat-main.open-chat .chat-btn:after {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #FFF;
  border-bottom: none;
}

.register-main.register-open .register-btn:after {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #FFF;
  border-top: none;
}

.page-bg.atmos-bg {
  background: url("../images/atmos-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.page-bg.corella-bg {
  background: url("../images/projects-img/corella-project/project-big-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.page-bg.connect-bg {
  background: url("../images/connect-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.page-bg.joinus-bg {
  background: url("../images/joinus-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.page-bg.news-bg {
  background: url("../images/news-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.page-bg.team-bg {
  background: url("../images/team-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.page-bg.tnc-bg {
  background: url("../images/tnc-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.page-bg.pp-bg {
  background: url("../images/pp-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

/*********************** Common Css all page *******************************************/
.inner-logo {
  width: 12%;
  z-index: 99;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

.connect-page, .joinus-page, .news-page, .projects-page, .project-details-page {
  position: relative;
  width: calc(100% - 250px);
  max-width: 1400px;
}

.news-page h2 {
  font-size: 1.3rem;
}

/*********************** home page *******************************************/
.home-logo img, .home-logo img {
  width: 90px;
  height: 116px;
}

.home-page .content {
  width: 60%;
}

.home-page .content p {
  height: 0px;
  overflow: hidden;
  webkit-transition: height 0.4s;
  -webkit-transition: height 0.4s;
  transition: height 0.4s;
  margin-bottom: 0px;
}

.home-page .content #hideread-more {
  display: none;
}

.show-readmore p {
  height: auto !important;
  margin-bottom: 1rem !important;
}

/*********************** Connect page *******************************************/
.joinus-form {
  display: none;
}

/*********************** News page *******************************************/
.news-page .nav-link {
  margin-left: -1rem;
}

.news-page a.nav-link {
  color: #ffffff;
}

.news-page a:hover.nav-link {
  color: rgba(255, 255, 255, 0.7);
}

.news-page .nav-pills .nav-link.active, .news-page .nav-pills .show > .nav-link {
  color: #fff;
  border-radius: 0px;
}

/*********************** Project page *******************************************/
.projects-page .carousel-control-prev, .projects-page .carousel-control-next {
  width: 4% !important;
}

.projects-page .carousel.slide {
  width: 898px;
}

.projects-page .carousel-control-next {
  right: -35px;
}

.projects-page .carousel-control-prev {
  left: -35px;
}

.carousel-imgs {
  width: 81%;
  margin-left: 9.5%;
  margin-right: 9.5%;
  margin-top: 1%;
  margin-bottom: 1%;
}

@media only screen and (max-width: 37.5em) {
  .carousel-imgs {
    width: 100%;
    margin: 0;
  }
}

.project-main .carousel-item {
  height: 440px;
}

.project-main ul li {
  width: 220px;
  height: 220px;
  margin-bottom: 3px;
  display: inline-block;
  margin-left: 0px;
  margin-right: 0px;
  position: relative;
  cursor: pointer;
}

.project-main ul li img {
  width: 100%;
  height: auto;
}

.project-main ul.more-four-project li {
  margin-top: 0px;
  float: left;
  margin-left: 3px;
}

.project-main ul.below-three-project li {
  margin-top: 110px;
}

.project-name {
  color: #FFFFFF;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  z-index: 999;
  text-transform: uppercase;
}

.project-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.project-normal {
  width: 100%;
  height: 100% !important;
}

.project-no1-hover .project-no1 .project-normal, .project-no1-hover .project-no1:hover .project-normal {
  opacity: 0;
}

.project-no1-hover .project-no1 .project-overlay, .project-no1-hover .project-no1:hover .project-overlay {
  opacity: 1;
}

.project-no1-hover .project-no2 .project-normal, .project-no1-hover .project-no5 .project-normal {
  opacity: 0;
}

.project-no1-hover .project-no2 .project-overlay, .project-no1-hover .project-no5 .project-overlay {
  opacity: 0.4;
}

.project-no1-hover .project-no3 .project-normal, .project-no1-hover .project-no6 .project-normal {
  opacity: 0;
}

.project-no1-hover .project-no3 .project-overlay, .project-no1-hover .project-no6 .project-overlay {
  opacity: 0.1;
}

.project-no2-hover .project-no2 .project-normal {
  opacity: 0;
}

.project-no2-hover .project-no2 .project-overlay {
  opacity: 1;
}

.project-no2-hover .project-no1 .project-normal, .project-no2-hover .project-no3 .project-normal, .project-no2-hover .project-no6 .project-normal, .project-no2-hover .project-no5 .project-normal, .project-no2-hover .project-no7 .project-normal {
  opacity: 0;
}

.project-no2-hover .project-no1 .project-overlay, .project-no2-hover .project-no3 .project-overlay, .project-no2-hover .project-no6 .project-overlay, .project-no2-hover .project-no5 .project-overlay, .project-no2-hover .project-no7 .project-overlay {
  opacity: 0.4;
}

.project-no3-hover .project-no3 .project-normal {
  opacity: 0;
}

.project-no3-hover .project-no3 .project-overlay {
  opacity: 1;
}

.project-no3-hover .project-no2 .project-normal, .project-no3-hover .project-no4 .project-normal, .project-no3-hover .project-no6 .project-normal, .project-no3-hover .project-no7 .project-normal, .project-no3-hover .project-no8 .project-normal {
  opacity: 0;
}

.project-no3-hover .project-no2 .project-overlay, .project-no3-hover .project-no4 .project-overlay, .project-no3-hover .project-no6 .project-overlay, .project-no3-hover .project-no7 .project-overlay, .project-no3-hover .project-no8 .project-overlay {
  opacity: 0.4;
}

.project-no3-hover .project-no1 .project-normal, .project-no3-hover .project-no5 .project-normal {
  opacity: 0;
}

.project-no3-hover .project-no1 .project-overlay, .project-no3-hover .project-no5 .project-overlay {
  opacity: 0.1;
}

.project-no4-hover .project-no4 .project-normal {
  opacity: 0;
}

.project-no4-hover .project-no4 .project-overlay {
  opacity: 1;
}

.project-no4-hover .project-no3 .project-normal, .project-no4-hover .project-no7 .project-normal, .project-no4-hover .project-no8 .project-normal {
  opacity: 0;
}

.project-no4-hover .project-no3 .project-overlay, .project-no4-hover .project-no7 .project-overlay, .project-no4-hover .project-no8 .project-overlay {
  opacity: 0.4;
}

.project-no4-hover .project-no2 .project-normal, .project-no4-hover .project-no6 .project-normal {
  opacity: 0;
}

.project-no4-hover .project-no2 .project-overlay, .project-no4-hover .project-no6 .project-overlay {
  opacity: 0.1;
}

.project-no5-hover .project-no5 .project-normal {
  opacity: 0;
}

.project-no5-hover .project-no5 .project-overlay {
  opacity: 1;
}

.project-no5-hover .project-no1 .project-normal, .project-no5-hover .project-no2 .project-normal, .project-no5-hover .project-no6 .project-normal {
  opacity: 0;
}

.project-no5-hover .project-no1 .project-overlay, .project-no5-hover .project-no2 .project-overlay, .project-no5-hover .project-no6 .project-overlay {
  opacity: 0.4;
}

.project-no5-hover .project-no3 .project-normal, .project-no5-hover .project-no7 .project-normal {
  opacity: 0;
}

.project-no5-hover .project-no3 .project-overlay, .project-no5-hover .project-no7 .project-overlay {
  opacity: 0.1;
}

.project-no6-hover .project-no6 .project-normal {
  opacity: 0;
}

.project-no6-hover .project-no6 .project-overlay {
  opacity: 1;
}

.project-no6-hover .project-no1 .project-normal, .project-no6-hover .project-no2 .project-normal, .project-no6-hover .project-no3 .project-normal, .project-no6-hover .project-no5 .project-normal, .project-no6-hover .project-no7 .project-normal {
  opacity: 0;
}

.project-no6-hover .project-no1 .project-overlay, .project-no6-hover .project-no2 .project-overlay, .project-no6-hover .project-no3 .project-overlay, .project-no6-hover .project-no5 .project-overlay, .project-no6-hover .project-no7 .project-overlay {
  opacity: 0.4;
}

.project-no6-hover .project-no4 .project-normal, .project-no6-hover .project-no8 .project-normal {
  opacity: 0;
}

.project-no6-hover .project-no4 .project-overlay, .project-no6-hover .project-no8 .project-overlay {
  opacity: 0.1;
}

.project-no7-hover .project-no7 .project-normal {
  opacity: 0;
}

.project-no7-hover .project-no7 .project-overlay {
  opacity: 1;
}

.project-no7-hover .project-no1 .project-normal, .project-no7-hover .project-no2 .project-normal, .project-no7-hover .project-no3 .project-normal, .project-no7-hover .project-no4 .project-normal, .project-no7-hover .project-no6 .project-normal, .project-no7-hover .project-no8 .project-normal {
  opacity: 0;
}

.project-no7-hover .project-no1 .project-overlay, .project-no7-hover .project-no2 .project-overlay, .project-no7-hover .project-no3 .project-overlay, .project-no7-hover .project-no4 .project-overlay, .project-no7-hover .project-no6 .project-overlay, .project-no7-hover .project-no8 .project-overlay {
  opacity: 0.4;
}

.project-no7-hover .project-no1 .project-normal, .project-no7-hover .project-no5 .project-normal {
  opacity: 0;
}

.project-no7-hover .project-no1 .project-overlay, .project-no7-hover .project-no5 .project-overlay {
  opacity: 0.1;
}

.project-no8-hover .project-no8 .project-normal {
  opacity: 0;
}

.project-no8-hover .project-no8 .project-overlay {
  opacity: 1;
}

.project-no8-hover .project-no3 .project-normal, .project-no8-hover .project-no4 .project-normal, .project-no8-hover .project-no7 .project-normal {
  opacity: 0;
}

.project-no8-hover .project-no3 .project-overlay, .project-no8-hover .project-no4 .project-overlay, .project-no8-hover .project-no7 .project-overlay {
  opacity: 0.4;
}

.project-no8-hover .project-no2 .project-normal, .project-no8-hover .project-no6 .project-normal {
  opacity: 0;
}

.project-no8-hover .project-no2 .project-overlay, .project-no8-hover .project-no6 .project-overlay {
  opacity: 0.1;
}

.project-details-page {
  min-height: 450px;
}

.project-details-page .nav.project-details a {
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 2px 0px;
}

.project-details-page .nav.project-details .nav-link {
  position: relative;
  webkit-transition: padding 0.4s;
  -webkit-transition: padding 0.4s;
  transition: padding 0.4s;
}

.project-details-page .nav.project-details .nav-link:hover {
  color: #1dcfcc;
  padding-left: 30px;
}

.project-details-page .nav.project-details .nav-link:hover:after {
  width: 50%;
  content: "";
  height: 1px;
  position: absolute;
  left: -45%;
  top: 10px;
  background-color: #1dcfcc;
}

.project-details-page .nav.project-details .nav-link:after {
  width: 0%;
  content: "";
  height: 1px;
  position: absolute;
  left: -45%;
  top: 10px;
  background-color: #1dcfcc;
  webkit-transition: width 0.4s;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
}

.project-details-page .nav.project-details .nav-link.active:after {
  width: 50%;
  content: "";
  height: 1px;
  position: absolute;
  left: -45%;
  top: 10px;
  background-color: #1dcfcc;
}

.project-details-page .nav.project-details .nav-link.active {
  padding-left: 30px;
}

.project-details-page .nav-pills .nav-link.active, .project-details-page .nav-pills .show > .nav-link {
  color: #1dcfcc;
  background-color: transparent;
}

.project-details-page .nav.nav-pills.project-details {
  margin-left: -33%;
  padding-left: 33%;
}

.floorplans-tabs li, .virtualtour-tabs li, .unitplans-tabs li {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #1dcfcc;
  background-color: #000000;
  cursor: pointer;
  border-right: 1px solid #1dcfcc;
}

.floorplans-tabs li a, .virtualtour-tabs li a, .unitplans-tabs li a {
  color: #FFFFFF;
  text-decoration: none;
  padding: 15px 0px;
  width: 100%;
  float: left;
  text-align: center;
}

.floorplans-tabs li:hover a, .floorplans-tabs li a.active.show, .virtualtour-tabs li:hover a, .virtualtour-tabs li a.active.show, .unitplans-tabs li:hover a, .unitplans-tabs li a.active.show {
  color: #1dcfcc;
}

.project-next {
  top: -35px;
  left: 50%;
}

.project-next:after {
  content: "";
  display: inline-block;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #1dcfcc;
  border-top: none;
  position: absolute;
  z-index: 9;
  left: 50%;
  top: -13px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.project-next .on-hover {
  bottom: 25px;
}

.arrow-left0.project-prev:before {
  left: 4px !important;
}

.arrow-left1.project-prev:before {
  left: 18px !important;
}

.arrow-left2.project-prev:before {
  left: 35px !important;
}

.project-prev {
  bottom: -35px;
  left: 50%;
}

.project-prev:before {
  content: "";
  display: inline-block;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid #1dcfcc;
  border-bottom: none;
  position: absolute;
  z-index: 9;
  width: 24px;
  left: 26px;
  bottom: -13px;
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0);
}

.project-prev .on-hover {
  top: 25px;
}

.project-next, .project-prev {
  position: absolute;
  border: 1px solid #1dcfcc;
  padding: 4px 6px;
  text-transform: uppercase;
  color: #1dcfcc;
  text-align: center;
  font-size: 0.7rem;
  cursor: pointer;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.project-next:hover, .project-prev:hover {
  border: 1px solid transparent;
  background: url("../images/nav-bg.png") repeat;
  color: #1dcfcc;
}

.project-next:hover .on-hover, .project-prev:hover .on-hover {
  height: 250px;
  border: 1px solid transparent;
  -webkit-transition: height 0.4s;
  /* For Safari 3.1 to 6.0 */
  transition: height 0.4s;
  background: url("../images/nav-bg.png") repeat;
}

.project-next .on-hover, .project-prev .on-hover {
  height: 0;
  width: calc(100% - -2px);
  left: -1px;
  -webkit-transition: height 0.4s;
  /* For Safari 3.1 to 6.0 */
  transition: height 0.4s;
  position: absolute;
}

.gallery-main .carousel-indicators {
  position: relative;
  margin-left: 0%;
  margin-right: 0%;
  bottom: 0%;
  border-top: 1px solid #1dcfcc;
}

.gallery-main .carousel-indicators li {
  width: 25%;
  overflow: hidden;
  border-radius: 0%;
  margin: 0%;
  max-height: 60px;
  cursor: pointer;
  min-height: 50px;
  background-color: transparent;
}

.gallery-main .carousel-indicators li img {
  width: 100%;
  height: auto;
}

.gallery-main .carousel-indicators li.list-inline-item.active::before {
  background: url("../images/down-arrow2.png") center no-repeat;
  top: 0px;
}

.floorplans-main .carousel-inner {
  background-color: #FFFFFF;
  position: relative;
}

.floorplans-main .carousel-inner .carousel-text {
  position: absolute;
  bottom: -2.8rem;
  left: 0;
  width: 100%;
  padding: 0.4rem;
}

.carousel-inner, .virtualtour-main .tab-content {
  height: 400px;
}

#myCarousel .carousel-indicators > li {
  text-indent: initial;
}

.amenities-main {
  width: 100%;
  float: left;
}

.amenities-main li {
  width: 25%;
  display: inline-block;
  text-align: center;
  margin-bottom: 2rem;
  cursor: pointer;
  height: auto;
}

.amenities-main li a {
  color: #FFFFFF;
  text-decoration: none;
  display: inline-block;
}

.amenities-main li .amenitie-iconbox:hover span, .amenities-main li .active span {
  color: #1dcfcc;
}

.amenities-main li span {
  width: 100%;
  text-align: center;
  float: left;
}

.amenities-main li .amenitie-iconbox:hover .amenities-icon, .amenities-main li .active .amenities-icon {
  background-position: 0px -62px;
}

.amenities-main .amenities-icon {
  width: 66px;
  height: 62px;
  margin: 0 auto 0.5rem;
  background-size: 66px auto;
  background-position: 0px 0px;
}

.amenities-main .amenities-icon01 {
  background-image: url(../images/amenities-icon01.png);
}

.amenities-main .amenities-icon02 {
  background-image: url(../images/amenities-icon02.png);
}

.amenities-main .amenities-icon03 {
  background-image: url(../images/amenities-icon03.png);
}

.amenities-main .amenities-icon04 {
  background-image: url(../images/amenities-icon04.png);
}

.amenities-main .amenities-icon05 {
  background-image: url(../images/amenities-icon05.png);
}

.amenities-main .amenities-icon06 {
  background-image: url(../images/amenities-icon06.png);
}

.amenities-main .amenities-icon07 {
  background-image: url(../images/amenities-icon07.png);
}

.amenities-main .amenities-icon08 {
  background-image: url(../images/amenities-icon08.png);
}

.amenities-main .amenities-tab-show-content h3 {
  color: #1dcfcc;
  font-size: 1.3rem;
}

.floorplans-main .projectplan-tabs li {
  width: 25%;
}

.floorplans-main .projectplan-tabs li:nth-child(4) {
  border-right: 0px;
}

.floorplans-main .carousel-control-prev, .floorplans-main .carousel-control-next {
  width: 5%;
}

.floorplans-main .unitplans-tabs li {
  width: 25%;
}

.floorplans-main .unitplans-tabs li:nth-child(4) {
  border-right: 0px;
}

.floorplans-main .floorplans-tabs li {
  width: 33.33%;
  height: auto;
}

.floorplans-main .floorplans-tabs li:nth-child(4) {
  border-right: 0px;
}

.floorplans-main .carousel-control-prev, .floorplans-main .carousel-control-next {
  width: 5%;
}

.virtualtour-main .virtualtour-tabs li {
  width: 50%;
}

.virtualtour-main .virtualtour-tabs li:nth-child(2) {
  border-right: 0px;
}

.ouryteam-main {
  min-height: 390px;
}

.ouryteam-main .ourteam-tabs {
  padding-left: 0.5rem;
}

.ouryteam-main .ourteam-tabs li {
  margin-right: 15px;
  background-color: #1dcfcc;
  color: #FFFFFF;
  cursor: pointer;
}

.ouryteam-main .ourteam-tabs li:hover, .ouryteam-main .ourteam-tabs li a.active {
  background-color: #FFFFFF;
}

.ouryteam-main .ourteam-tabs li:hover a, .ouryteam-main .ourteam-tabs li a.active a {
  color: #1dcfcc;
}

.ouryteam-main .ourteam-tabs li a.active {
  color: #1dcfcc;
}

.ouryteam-main .ourteam-tabs li a {
  color: #FFFFFF;
  text-decoration: none;
  display: inline-block;
  padding: 7px 10px;
}

.ouryteam-main #management-content ul, .ouryteam-main #advisory-content ul {
  padding-left: 0.5rem;
}

.ouryteam-main #management-content ul li, .ouryteam-main #advisory-content ul li {
  width: calc(33.33% - 8px);
  padding: 0px 0px;
  margin-bottom: 10px;
  margin-right: 0.5rem;
  position: relative;
  cursor: pointer;
  float: left;
}

.ouryteam-main #management-content ul li img, .ouryteam-main #advisory-content ul li img {
  width: 100%;
  height: auto;
}

.ouryteam-main #management-content ul li .member-name, .ouryteam-main #advisory-content ul li .member-name {
  font-size: 0.8rem;
  text-align: center;
  padding-top: 3px;
}

.ouryteam-main #management-content ul li .overlap-div, .ouryteam-main #advisory-content ul li .overlap-div {
  opacity: 0;
  width: calc(100% - 20px);
  height: calc(100% - 44px);
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 10px;
  -webkit-transition: opacity 0.4s;
  /* For Safari 3.1 to 6.0 */
  transition: opacity 0.4s;
  text-align: left;
  padding: 10px;
  overflow: hidden;
}

.ouryteam-main #management-content ul li:hover .overlap-div, .ouryteam-main #advisory-content ul li:hover .overlap-div {
  opacity: 0;
}

.ouryteam-main #management-content #management-details, .ouryteam-main #management-content #advisory-details, .ouryteam-main #management-content #management-details01, .ouryteam-main #management-content #management-details02, .ouryteam-main #management-content #management-details03, .ouryteam-main #management-content #management-details04, .ouryteam-main #management-content #management-details05, .ouryteam-main #management-content #advisory-details01, .ouryteam-main #advisory-content #management-details, .ouryteam-main #advisory-content #advisory-details, .ouryteam-main #advisory-content #management-details01, .ouryteam-main #advisory-content #management-details02, .ouryteam-main #advisory-content #management-details03, .ouryteam-main #advisory-content #management-details04, .ouryteam-main #advisory-content #management-details05, .ouryteam-main #advisory-content #advisory-details01 {
  display: none;
}

.ouryteam-main #management-content #management-details01 .big-photo_with_name, .ouryteam-main #management-content #management-details02 .big-photo_with_name, .ouryteam-main #management-content #management-details03 .big-photo_with_name, .ouryteam-main #management-content #management-details04 .big-photo_with_name, .ouryteam-main #management-content #management-details05 .big-photo_with_name, .ouryteam-main #management-content #advisory-details01 .big-photo_with_name, .ouryteam-main #advisory-content #management-details01 .big-photo_with_name, .ouryteam-main #advisory-content #management-details02 .big-photo_with_name, .ouryteam-main #advisory-content #management-details03 .big-photo_with_name, .ouryteam-main #advisory-content #management-details04 .big-photo_with_name, .ouryteam-main #advisory-content #management-details05 .big-photo_with_name, .ouryteam-main #advisory-content #advisory-details01 .big-photo_with_name {
  width: 200px;
  height: auto;
  float: left;
}

.ouryteam-main #management-content #management-details01 .photo-content, .ouryteam-main #management-content #management-details02 .photo-content, .ouryteam-main #management-content #management-details03 .photo-content, .ouryteam-main #management-content #management-details04 .photo-content, .ouryteam-main #management-content #management-details05 .photo-content, .ouryteam-main #management-content #advisory-details01 .photo-content, .ouryteam-main #advisory-content #management-details01 .photo-content, .ouryteam-main #advisory-content #management-details02 .photo-content, .ouryteam-main #advisory-content #management-details03 .photo-content, .ouryteam-main #advisory-content #management-details04 .photo-content, .ouryteam-main #advisory-content #management-details05 .photo-content, .ouryteam-main #advisory-content #advisory-details01 .photo-content {
  width: calc(100% - 200px);
  float: right;
  padding-left: 1rem;
}

@media only screen and (max-width: 37.5em) {
  .ouryteam-main #management-content #management-details01 .photo-content, .ouryteam-main #management-content #management-details02 .photo-content, .ouryteam-main #management-content #management-details03 .photo-content, .ouryteam-main #management-content #management-details04 .photo-content, .ouryteam-main #management-content #management-details05 .photo-content, .ouryteam-main #management-content #advisory-details01 .photo-content, .ouryteam-main #advisory-content #management-details01 .photo-content, .ouryteam-main #advisory-content #management-details02 .photo-content, .ouryteam-main #advisory-content #management-details03 .photo-content, .ouryteam-main #advisory-content #management-details04 .photo-content, .ouryteam-main #advisory-content #management-details05 .photo-content, .ouryteam-main #advisory-content #advisory-details01 .photo-content {
    width: 100%;
    float: left;
    padding-left: 0rem;
  }
  .ouryteam-main #management-content #management-details01 .photo-content::after, .ouryteam-main #management-content #management-details02 .photo-content::after, .ouryteam-main #management-content #management-details03 .photo-content::after, .ouryteam-main #management-content #management-details04 .photo-content::after, .ouryteam-main #management-content #management-details05 .photo-content::after, .ouryteam-main #management-content #advisory-details01 .photo-content::after, .ouryteam-main #advisory-content #management-details01 .photo-content::after, .ouryteam-main #advisory-content #management-details02 .photo-content::after, .ouryteam-main #advisory-content #management-details03 .photo-content::after, .ouryteam-main #advisory-content #management-details04 .photo-content::after, .ouryteam-main #advisory-content #management-details05 .photo-content::after, .ouryteam-main #advisory-content #advisory-details01 .photo-content::after {
    content: "";
    display: table;
    clear: both;
  }
}

/********************************** Download Css Start **********************************************/
.download-main {
  padding: 2rem;
}

.skip-btn {
  position: absolute;
  bottom: 1rem;
  right: 20px;
  z-index: 999;
  background-color: transparent;
  outline: 0;
  border: 0;
  text-decoration: underline;
  cursor: pointer;
}

@media only screen and (max-width: 37.5em) {
  .skip-btn {
    display: none;
  }
}

/********************************** Animation Css Start **********************************************/
.delay-0 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.delay-1 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.delay-2 {
  -webkit-animation-delay: 1.30s;
          animation-delay: 1.30s;
}

.delay-3 {
  -webkit-animation-delay: 1.50s;
          animation-delay: 1.50s;
}

.delay-4 {
  -webkit-animation-delay: 1.70s;
          animation-delay: 1.70s;
}

.project-delay1 {
  -webkit-animation-delay: 0.50s;
          animation-delay: 0.50s;
}

.project-delay2 {
  -webkit-animation-delay: 0.60s;
          animation-delay: 0.60s;
}

.project-delay3 {
  -webkit-animation-delay: 0.70s;
          animation-delay: 0.70s;
}

.project-delay4 {
  -webkit-animation-delay: 0.80s;
          animation-delay: 0.80s;
}

.project-delay5 {
  -webkit-animation-delay: 0.90s;
          animation-delay: 0.90s;
}

.project-delay6 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.project-delay7 {
  -webkit-animation-delay: 1.10s;
          animation-delay: 1.10s;
}

.project-delay8 {
  -webkit-animation-delay: 1.20s;
          animation-delay: 1.20s;
}

/********************************** Animation Css End **********************************************/
/********************************** mobile Css End **********************************************/
@media screen and (max-width: 1920px) and (min-width: 1400px) {
  .mobile-nav, .mobi-ipad-show {
    display: none !important;
  }
  .project-details-page, #location-tab02 {
    height: 513px;
  }
  #location-tab02 {
    overflow: hidden;
  }
  .carousel-inner, .virtualtour-main .tab-content {
    height: 462px;
  }
  .content-scrollbar {
    max-height: 470px;
    min-height: 420px;
  }
  .page-bg.team-bg section {
    height: 500px !important;
  }
  .ouryteam-main {
    min-height: 470px;
  }
}

@media screen and (max-width: 1399px) and (min-width: 1200px) {
  .mobile-nav, .mobi-ipad-show {
    display: none !important;
  }
  .ouryteam-main {
    min-height: 406px;
  }
  .project-details-page {
    min-height: 443px;
  }
  .carousel-inner.project-main {
    height: 450px;
  }
  .carousel-inner, .virtualtour-main .tab-content {
    height: 367px;
  }
  #location-tab02 {
    height: 443px;
  }
  .page-bg.team-bg section {
    height: 420px;
  }
}

#location-tab02 {
  overflow: hidden;
}

.page-bg.team-bg section {
  height: 420px;
}

@media screen and (max-width: 5000px) and (min-width: 768px) {
  .amenities-popup {
    display: none !important;
  }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .mobi-ipad-show {
    display: none;
  }
  .content-scrollbar {
    max-height: 350px;
    padding-right: 10px;
  }
  .home-page .content {
    width: 81%;
  }
  .team-bg .pr-5 {
    padding-right: 1rem !important;
  }
  .project-main ul li {
    width: 180px;
    height: 180px;
  }
  .page-bg.team-bg section {
    height: 380px;
  }
  .carousel-inner, .virtualtour-main .tab-content {
    height: 350px;
  }
  .project-details-page {
    min-height: 400px;
  }
  #location-tab02 {
    height: 400px;
  }
  .joinus-form .w-25 {
    width: 30% !important;
  }
  .joinus-form .w-75 {
    width: 70% !important;
  }
}

@media only screen and (max-width: 1024px) {
  h2 {
    font-size: 1.7rem;
  }
  .inner-logo img {
    width: 50px;
  }
  .section-title {
    font-size: 40px;
  }
  .projects-page .carousel.slide {
    width: 745px;
    margin-left: 2rem;
  }
  .connect-page, .joinus-page, .news-page, .projects-page, .project-details-page {
    width: calc(100% - 150px);
  }
}

@media only screen and (max-width: 768px) {
  .page-bg.atmos-bg {
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../images/atmos-bg.jpg");
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/atmos-bg.jpg");
    background-size: cover;
    background-position: center;
  }
  .page-bg.corella-bg {
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../images/projects-img/corella-project/project-big-bg.jpg");
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/projects-img/corella-project/project-big-bg.jpg");
    background-size: cover;
    background-position: center;
  }
  .page-bg.connect-bg {
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../images/connect-bg.jpg");
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/connect-bg.jpg");
    background-size: cover;
    background-position: center;
  }
  .page-bg.joinus-bg {
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../images/joinus-bg.jpg");
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/joinus-bg.jpg");
    background-size: cover;
    background-position: center;
  }
  .page-bg.news-bg {
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../images/news-bg.jpg");
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/news-bg.jpg");
    background-size: cover;
    background-position: center;
  }
  .page-bg.team-bg {
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../images/team-bg.jpg");
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/team-bg.jpg");
    background-size: cover;
    background-position: center;
  }
  .page-bg.tnc-bg {
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../images/tnc-bg.jpg");
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/tnc-bg.jpg");
    background-size: cover;
    background-position: center;
  }
  .page-bg.pp-bg {
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../images/pp-bg.jpg");
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/pp-bg.jpg");
    background-size: cover;
    background-position: center;
  }
  .mobi-ipad-show {
    display: block;
  }
  .mdtp-flex-none {
    display: block !important;
  }
  .pl-mdtp-0 {
    padding-left: 0px !important;
  }
  .pl-mdtp-4 {
    padding-left: 1.5rem !important;
  }
  .pr-mdtp-0 {
    padding-right: 0px !important;
  }
  .mt-mdtp-3 {
    margin-top: 1rem !important;
  }
  .w-100.mdtp-w-70 {
    width: 70% !important;
  }
  .mdtp-float-right {
    float: right !important;
  }
  .mdtp-mr-6 {
    margin-top: 6rem;
  }
  .pl-mdtp-2, .gallery-main, #location-tab02, .floorplans-main, .virtualtour-main {
    padding-left: 2rem;
  }
  .pr-mdtp-2, .gallery-main, #location-tab02, .floorplans-main, .virtualtour-main {
    padding-right: 2rem;
  }
  .float-left-mdtp {
    float: left !important;
  }
  .float-left-mdtp li {
    float: left;
    margin-right: 3px !important;
  }
  .inner-logo {
    width: 100%;
    position: relative !important;
    text-align: left !important;
    padding-left: 1.8rem;
    top: inherit;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  .inner-logo img {
    width: 100px;
  }
  .header-content {
    float: left;
    padding-left: 2rem;
  }
  .home-page .content {
    width: 100%;
  }
  .footer-left-content {
    padding-left: 1rem;
  }
  section.bg-color-black-op6, section.register-content, .news-page .nav-pills section.nav-link.active, .news-page .nav-pills .show > section.nav-link, .ouryteam-main #management-content ul li section.overlap-div, .ouryteam-main #advisory-content ul li section.overlap-div {
    background-color: transparent;
  }
  .section-pl-25 {
    padding-left: 1.8rem;
  }
  .content-scrollbar {
    max-height: 520px;
  }
  .page-bg.team-bg section, section.news-page, section.joinus-page, section.projects-page {
    height: calc(100vh - 130px);
    overflow: auto;
  }
  .connect-page, .joinus-page, .news-page, .projects-page, .project-details-page {
    width: 100%;
  }
  .connect-page .col-md-6, .news-page .col-md-6, .joinus-page .col-md-6, .project-details-page .col-md-6 {
    width: 100%;
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .team-bg .center-middle, .joinus-page.center-middle, .news-page.center-middle {
    display: block !important;
  }
  .ouryteam-main #management-content ul li, .ouryteam-main #advisory-content ul li {
    display: block;
    margin-left: 0px;
    padding: 0px;
    margin-right: 9px;
    float: left;
  }
  .ouryteam-main #management-content ul li:nth-child(3), .ouryteam-main #advisory-content ul li:nth-child(3),
  .ouryteam-main #management-content ul li:nth-child(6), .ouryteam-main #advisory-content ul li:nth-child(6) {
    margin-right: 0px;
  }
  .page-bg.corella-bg {
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../images/projects-img/corella-project/project-big-bg.jpg");
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/projects-img/corella-project/project-big-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .project-main .carousel-item {
    height: 100%;
  }
  .carousel-inner.project-main {
    width: 100% !important;
    padding: 0px 3rem;
    margin-left: 0 !important;
  }
  .projects-page .carousel.slide {
    width: 100% !important;
    margin-left: 0 !important;
  }
  .carousel-inner.project-main {
    height: 675px;
  }
  .projects-page .carousel-control-next {
    right: 5px;
  }
  .projects-page .carousel-control-prev {
    left: 5px;
  }
  .project-main ul.below-three-project li {
    margin-top: 240px !important;
  }
  section.project-details-page {
    height: 85vh;
    overflow-y: auto;
    margin-top: 5rem !important;
  }
  .project-prev, .project-next {
    position: relative;
    left: inherit;
    right: inherit;
    bottom: inherit;
    top: inherit;
    margin-top: 15px;
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
  }
  .project-prev {
    float: left;
    margin-left: 2rem;
  }
  .project-prev:before {
    display: none;
  }
  .project-next {
    float: right;
    margin-right: 2rem;
  }
  .project-next:after {
    display: none;
  }
  .project-next:hover .on-hover {
    height: 0px;
    background: transparent;
  }
  #location-tab02 {
    height: 500px;
  }
  .project-details-page .carousel-inner, .virtualtour-main .tab-content {
    height: 520px;
  }
  .floorplans-main .carousel-inner .carousel-text {
    position: relative;
    padding: 1.1rem;
  }
  .craft-beer-landing-vidbg, #video_source, #skip {
    display: none !important;
  }
  .mobile_social_icons a li {
    line-height: 15px;
  }
}

.mobile-footer, .mobi-show {
  display: none;
}

@media only screen and (max-width: 767px) {
  body {
    background: rgba(0, 0, 0, 0.6) url("../images/bg.jpg") center no-repeat;
    background-size: cover;
  }
  #gallery-tab01 h4, #location-tab02 h4, #amenities-tab03 h4, #floorplans-tab04 h4, #virtualtour-tab05 h4, #download-tab06 h4, #unitplans-tab04 h4 {
    position: relative;
  }
  #gallery-tab01 h4::after, #location-tab02 h4::after, #amenities-tab03 h4::after, #floorplans-tab04 h4::after, #virtualtour-tab05 h4::after, #download-tab06 h4::after, #unitplans-tab04 h4::after {
    content: "";
    display: block;
    width: 50%;
    height: 1px;
    position: absolute;
    left: -53%;
    top: 15px;
    background-color: #1dcfcc;
  }
  .register-content, .header-content, .register-content .w-50, .w-100.mdtp-w-70, .download-main .w-50, .connect-page .w-50, .joinus-form .w-50 {
    width: 100% !important;
    float: left;
  }
  .mobi.pt-4, .mobi.pt-5 {
    padding-top: 0px !important;
  }
  .mobi.border-left {
    border-left: 0px !important;
  }
  .language-main, .footer-left-content, .mobi-xsl, .social-media, .amenities-tab-show-content, .desktop-show {
    display: none;
  }
  .mobi-show, .mobi-ipad-show {
    display: block;
  }
  footer {
    height: 60px;
  }
  .p-sm-0 {
    padding: 0px !important;
  }
  .pl-sm-0 {
    padding-left: 0px !important;
  }
  .pl-0-7-sm {
    padding-left: 0.7rem !important;
  }
  .pr-sm-0, .pr-0-sm {
    padding-right: 0px !important;
  }
  .pb-sm-0, .pb-0-sm {
    padding-bottom: 0px !important;
  }
  .pt-sm-0, .pt-0-sm {
    padding-top: 0px !important;
  }
  .pt-sm-1 {
    padding-top: 0.5rem !important;
  }
  .pt-sm-2 {
    padding-top: 1rem !important;
  }
  .pt-sm-3 {
    padding-top: 2rem !important;
  }
  .pl-2-sm {
    padding-left: 2rem !important;
  }
  .pt-sm-5 {
    padding-top: 3rem !important;
  }
  .text-center-sm {
    text-align: center !important;
  }
  .text-justify-sm {
    text-align: justify;
  }
  .inner-logo img {
    width: 65px;
  }
  .header-content {
    padding-left: 0px;
    padding-right: 0px !important;
  }
  .page-bg.team-bg section, section.news-page, section.joinus-page, section.projects-page, section.connect-page, section.home-page {
    height: 88vh;
    padding-bottom: 5rem !important;
    margin-top: 5rem !important;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
  }
  section {
    width: calc(100% - 10px);
  }
  .content-scrollbar {
    overflow: inherit;
    max-height: none;
  }
  .mobile-footer {
    display: block;
    border-top: 1px solid #1dcfcc;
    background-color: #5a5a5a;
    float: left;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 9;
    width: 100%;
  }
  .mobile-footer div {
    height: 65px;
    font-size: 0.9rem;
    text-transform: uppercase;
    padding: 0.7rem 1.2rem;
    border-right-color: #1dcfcc !important;
  }
  .chat-main .chat-content, .chat-main .chat-btn {
    width: 100%;
  }
  .chat-main.open-chat {
    margin-top: -325px;
    display: block;
  }
  .chat-main.open-chat .chat-content {
    height: 385px;
  }
  .chat-main.open-chat .chat-content .chat-content-box {
    height: 254px;
  }
  .ouryteam-main {
    min-height: auto;
  }
  .chat-box .b-agent-demo_header {
    display: none;
  }
  .b-agent-demo_header {
    display: none !important;
  }
  .b-agent-demo .b-agent-demo_powered_by {
    top: 44px !important;
  }
  .b-agent-demo .b-agent-demo_header {
    min-height: 0rem !important;
  }
  .project-no1-hover .project-no1 .project-normal, .project-no1-hover .project-no1:hover .project-normal {
    opacity: 0;
  }
  .project-no1-hover .project-no1 .project-overlay, .project-no1-hover .project-no1:hover .project-overlay {
    opacity: 1;
  }
  .project-no1-hover .project-no2 .project-normal, .project-no1-hover .project-no3 .project-normal, .project-no1-hover .project-no4 .project-normal, .project-no1-hover .project-no5 .project-normal, .project-no1-hover .project-no6 .project-normal, .project-no1-hover .project-no7 .project-normal, .project-no1-hover .project-no8 .project-normal {
    opacity: 1;
  }
  .project-no1-hover .project-no2 .project-overlay, .project-no1-hover .project-no3 .project-overlay, .project-no1-hover .project-no4 .project-overlay, .project-no1-hover .project-no5 .project-overlay, .project-no1-hover .project-no6 .project-overlay, .project-no1-hover .project-no7 .project-overlay, .project-no1-hover .project-no8 .project-overlay {
    opacity: 0;
  }
  .project-no2-hover .project-no2 .project-normal {
    opacity: 0;
  }
  .project-no2-hover .project-no2 .project-overlay {
    opacity: 1;
  }
  .project-no2-hover .project-no1 .project-normal, .project-no2-hover .project-no3 .project-normal, .project-no2-hover .project-no4 .project-normal, .project-no2-hover .project-no5 .project-normal, .project-no2-hover .project-no6 .project-normal, .project-no2-hover .project-no7 .project-normal, .project-no2-hover .project-no8 .project-normal {
    opacity: 1;
  }
  .project-no2-hover .project-no1 .project-overlay, .project-no2-hover .project-no3 .project-overlay, .project-no2-hover .project-no4 .project-overlay, .project-no2-hover .project-no5 .project-overlay, .project-no2-hover .project-no6 .project-overlay, .project-no2-hover .project-no7 .project-overlay, .project-no2-hover .project-no8 .project-overlay {
    opacity: 0;
  }
  .project-no3-hover .project-no3 .project-normal {
    opacity: 0;
  }
  .project-no3-hover .project-no3 .project-overlay {
    opacity: 1;
  }
  .project-no3-hover .project-no1 .project-normal, .project-no3-hover .project-no2 .project-normal, .project-no3-hover .project-no4 .project-normal, .project-no3-hover .project-no5 .project-normal, .project-no3-hover .project-no6 .project-normal, .project-no3-hover .project-no7 .project-normal, .project-no3-hover .project-no8 .project-normal {
    opacity: 1;
  }
  .project-no3-hover .project-no1 .project-overlay, .project-no3-hover .project-no2 .project-overlay, .project-no3-hover .project-no4 .project-overlay, .project-no3-hover .project-no5 .project-overlay, .project-no3-hover .project-no6 .project-overlay, .project-no3-hover .project-no7 .project-overlay, .project-no3-hover .project-no8 .project-overlay {
    opacity: 0;
  }
  .project-no4-hover .project-no4 .project-normal {
    opacity: 0;
  }
  .project-no4-hover .project-no4 .project-overlay {
    opacity: 1;
  }
  .project-no4-hover .project-no1 .project-normal, .project-no4-hover .project-no2 .project-normal, .project-no4-hover .project-no3 .project-normal, .project-no4-hover .project-no5 .project-normal, .project-no4-hover .project-no6 .project-normal, .project-no4-hover .project-no7 .project-normal, .project-no4-hover .project-no8 .project-normal {
    opacity: 1;
  }
  .project-no4-hover .project-no1 .project-overlay, .project-no4-hover .project-no2 .project-overlay, .project-no4-hover .project-no3 .project-overlay, .project-no4-hover .project-no5 .project-overlay, .project-no4-hover .project-no6 .project-overlay, .project-no4-hover .project-no7 .project-overlay, .project-no4-hover .project-no8 .project-overlay {
    opacity: 0;
  }
  .project-no5-hover .project-no5 .project-normal {
    opacity: 0;
  }
  .project-no5-hover .project-no5 .project-overlay {
    opacity: 1;
  }
  .project-no5-hover .project-no1 .project-normal, .project-no5-hover .project-no2 .project-normal, .project-no5-hover .project-no3 .project-normal, .project-no5-hover .project-no4 .project-normal, .project-no5-hover .project-no6 .project-normal, .project-no5-hover .project-no7 .project-normal, .project-no5-hover .project-no8 .project-normal {
    opacity: 1;
  }
  .project-no5-hover .project-no1 .project-overlay, .project-no5-hover .project-no2 .project-overlay, .project-no5-hover .project-no3 .project-overlay, .project-no5-hover .project-no4 .project-overlay, .project-no5-hover .project-no6 .project-overlay, .project-no5-hover .project-no7 .project-overlay, .project-no5-hover .project-no8 .project-overlay {
    opacity: 0;
  }
  .project-no6-hover .project-no6 .project-normal {
    opacity: 0;
  }
  .project-no6-hover .project-no6 .project-overlay {
    opacity: 1;
  }
  .project-no6-hover .project-no1 .project-normal, .project-no6-hover .project-no2 .project-normal, .project-no6-hover .project-no3 .project-normal, .project-no6-hover .project-no4 .project-normal, .project-no6-hover .project-no5 .project-normal, .project-no6-hover .project-no7 .project-normal, .project-no6-hover .project-no8 .project-normal {
    opacity: 1;
  }
  .project-no6-hover .project-no1 .project-overlay, .project-no6-hover .project-no2 .project-overlay, .project-no6-hover .project-no3 .project-overlay, .project-no6-hover .project-no4 .project-overlay, .project-no6-hover .project-no5 .project-overlay, .project-no6-hover .project-no7 .project-overlay, .project-no6-hover .project-no8 .project-overlay {
    opacity: 0;
  }
  .project-no7-hover .project-no7 .project-normal {
    opacity: 0;
  }
  .project-no7-hover .project-no7 .project-overlay {
    opacity: 1;
  }
  .project-no7-hover .project-no1 .project-normal, .project-no7-hover .project-no2 .project-normal, .project-no7-hover .project-no3 .project-normal, .project-no7-hover .project-no4 .project-normal, .project-no7-hover .project-no5 .project-normal, .project-no7-hover .project-no6 .project-normal, .project-no7-hover .project-no8 .project-normal {
    opacity: 1;
  }
  .project-no7-hover .project-no1 .project-overlay, .project-no7-hover .project-no2 .project-overlay, .project-no7-hover .project-no3 .project-overlay, .project-no7-hover .project-no4 .project-overlay, .project-no7-hover .project-no5 .project-overlay, .project-no7-hover .project-no6 .project-overlay, .project-no7-hover .project-no8 .project-overlay {
    opacity: 0;
  }
  .project-no8-hover .project-no8 .project-normal {
    opacity: 0;
  }
  .project-no8-hover .project-no8 .project-overlay {
    opacity: 1;
  }
  .project-no8-hover .project-no1 .project-normal, .project-no8-hover .project-no2 .project-normal, .project-no8-hover .project-no3 .project-normal, .project-no8-hover .project-no4 .project-normal, .project-no8-hover .project-no5 .project-normal, .project-no8-hover .project-no6 .project-normal, .project-no8-hover .project-no7 .project-normal {
    opacity: 1;
  }
  .project-no8-hover .project-no1 .project-overlay, .project-no8-hover .project-no2 .project-overlay, .project-no8-hover .project-no3 .project-overlay, .project-no8-hover .project-no4 .project-overlay, .project-no8-hover .project-no5 .project-overlay, .project-no8-hover .project-no6 .project-overlay, .project-no8-hover .project-no7 .project-overlay {
    opacity: 0;
  }
  .ouryteam-main #management-content ul li, .ouryteam-main #advisory-content ul li {
    width: calc(50% - 6px);
  }
  .ouryteam-main #management-content ul li:nth-child(2n), .ouryteam-main #advisory-content ul li:nth-child(2n) {
    margin-right: 0px;
  }
  .ouryteam-main #management-content ul li:nth-child(3), .ouryteam-main #advisory-content ul li:nth-child(3) {
    margin-right: 9px;
  }
  .register-content {
    margin-top: -100vh;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: relative;
  }
  .register-content .close__button {
    position: absolute;
  }
  .register-open .register-content, .register-main.register-open .register-content {
    margin-top: 0px;
  }
  .carousel-inner.project-main {
    padding: 1rem 2rem;
    height: auto;
  }
  .carousel-inner.project-main ul li {
    width: 145px;
    height: 145px;
  }
  .projects-page .carousel-control-prev, .projects-page .carousel-control-next {
    width: 9% !important;
  }
  .projects-page .carousel-control-prev {
    left: 0px;
  }
  .projects-page .carousel-control-next {
    right: 0px;
  }
  .project-main ul.below-three-project li {
    margin-top: 0px !important;
  }
  .carousel-inner, .virtualtour-main .tab-content, #location-tab02, .project-details-page .carousel-inner {
    height: auto;
  }
  .amenities-main li {
    width: 50%;
  }
  .project-details-page .section-title:after {
    right: -80px;
    top: 12px;
    display: none;
  }
  section.project-details-page {
    height: 88vh;
    padding-bottom: 5rem;
    margin-top: 5rem !important;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
  }
  .floorplans-main .carousel-control-prev, .floorplans-main .carousel-control-next {
    width: 15%;
  }
  .project-next {
    margin-right: 15px;
  }
  .project-prev {
    margin-left: 15px;
  }
  .project-next:hover .on-hover, .project-prev:hover .on-hover {
    height: auto;
  }
  .pr-mdtp-2, .gallery-main, #location-tab02, .floorplans-main, .virtualtour-main {
    padding-top: 1rem;
  }
  .popup-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
  }
  .m-amenities, .amenities-popup {
    display: none;
  }
  .project-main .project-overlay {
    opacity: 0.6;
  }
  .floorplans-main .carousel-inner .carousel-text {
    position: relative;
    bottom: 0;
    padding: 1.1rem;
  }
  .craft-beer-landing-vidbg, #skip, #video_source {
    display: none !important;
  }
  .mobile_social_icons a li {
    line-height: 15px;
  }
}

@media only screen and (max-width: 320px) {
  section.project-details-page {
    height: 74vh;
    padding-bottom: 1rem;
    margin-top: 3rem !important;
  }
  .floorplans-main .carousel-inner .carousel-text {
    position: relative;
    bottom: 0;
    padding: 1.1rem;
  }
  .craft-beer-landing-vidbg, #skip, #video_source {
    display: none !important;
  }
  .mobile_social_icons a li {
    line-height: 15px;
  }
}

@media screen and (min-device-width: 1024px) and (max-device-width: 5000px) {
  .landscape-popup {
    display: none !important;
  }
  .project-details-page .section-title:after {
    right: -80px;
    top: 12px;
    display: none;
  }
}

@media screen and (min-device-width: 360px) and (max-device-width: 1024px) and (orientation: portrait) {
  .landscape-popup {
    display: none;
  }
  .project-details-page .section-title:after {
    right: -80px;
    top: 12px;
    display: none;
  }
}

@media screen and (min-device-width: 360px) and (max-device-width: 1023px) and (orientation: landscape) {
  .landscape-popup {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0px;
    top: 0;
    z-index: 999999;
  }
  .project-details-page .section-title:after {
    right: -80px;
    top: 12px;
    display: none;
  }
}

.disclaimer-main {
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 999999;
  background-color: rgba(0, 0, 0, 0.8);
}

.disclaimer-main .disclaimer-page-copy {
  position: absolute;
  top: 50%;
  width: 45%;
  left: 25.5%;
  margin: 0 0 20px 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 30px;
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.73);
  color: #000;
  font-size: 13px;
  line-height: 20px;
  text-align: justify;
}

.disclaimer-main .disclaimer-page-copy .scroll {
  position: relative;
  height: 100%;
  overflow-y: auto;
  padding-right: 10px;
  overflow-y: scroll;
  height: 300px;
  margin-bottom: 15px;
}

@media only screen and (max-width: 64em) {
  .disclaimer-main .disclaimer-page-copy {
    width: 80%;
    left: 10%;
  }
}

@media only screen and (max-width: 37.5em) {
  .disclaimer-main .disclaimer-page-copy {
    width: calc(100% - 2rem);
    left: 1rem;
  }
}

.mobile_social_icons {
  position: absolute;
  bottom: 4%;
  /* margin-left: 6%; */
  text-decoration: none;
  list-style: none;
  width: 100%;
}

.mobile_social_icons ul li {
  line-height: 25px;
}

.mobile_social_icons li {
  line-height: 15px;
}

.mobile_social_icons li::after {
  display: none !important;
}
