.mytext{
  border:0;padding:10px;background:white;
}
.text{
  width:75%;display:flex;flex-direction:column;
}
.text > p:first-of-type{
  width:100%;margin-top:0;margin-bottom:auto;line-height: 13px;font-size: 12px;
}
.text > p:last-of-type{
  width:100%;text-align:right;color:silver;margin-bottom:-7px;margin-top:auto;
}
.text-l{
  float:left;padding-right:10px;
}
.text-r{
  float:right;padding-left:10px;
}
.avatar{
  display:flex;
  justify-content:center;
  align-items:center;
  width:25%;
  float:left;
  padding-right:10px;
}
.macro{
  margin-top:5px;width:85%;border-radius:5px;padding:5px;display:flex;
}
.msj-rta{
  float:right;background:white;
}
.msj{
  float:left;background:whitesmoke;
}
.frame{
  background:#e0e0de;
  overflow:auto;
  padding:0;
  position:fixed;
  //right:10px;
  bottom:0px;
  width:325px;
}
.panel-heading{
  cursor: pointer;
}
//.innerframe{
//  height:450px;
//}
.innerframe > div:last-of-type{
  position:absolute;bottom:5px;width:100%;display:flex;
}
#messages {
  width:100%;
  list-style-type: none;
  padding:0 18px 18px 18px;
  position:absolute;
  top:95px;
  bottom:50px;
  display:flex;
  flex-direction: column;
  overflow-y:scroll;
  //height: 400px;

}
.msj:before{
  width: 0;
  height: 0;
  content:"";
  top:-5px;
  left:-14px;
  position:relative;
  border-style: solid;
  border-width: 0 13px 13px 0;
  border-color: transparent whitesmoke transparent transparent;
}
.msj-rta:after{
  width: 0;
  height: 0;
  content:"";
  top:-5px;
  left:14px;
  position:relative;
  border-style: solid;
  border-width: 13px 13px 0 0;
  border-color: #ffffff transparent transparent transparent;
}
input:focus{
  outline: none;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #d4d4d4;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #d4d4d4;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #d4d4d4;
}
:-moz-placeholder { /* Firefox 18- */
  color: #d4d4d4;
}

@include respond(phone) {
  .chat__box-main{
    right: 50% !important;
    transform: translate(50%, 0%) !important;
    width: 100%; bottom:0px;
    //display: none;
  }
}

.chat__box-main{
  right:9.5rem;


  #chat-panel{
    background-color: $brand-primary;
    padding: 1rem;
  }

  .msj.macro{
    background-color:$color-black;
    color: $color-white;

    &:before{
      border-color: transparent black transparent transparent;
    }

  }

  .msj-rta.macro{
    color:$color-black;
  }

}


#messages{
  height: 200px;
}
.innerframe {
  height: 300px;
}


//scrollbar Css Start
#messages::-webkit-scrollbar, .content-scrollbar::-webkit-scrollbar{
  width:6px;
  background-color: rgba(0,0,0,0.6)}

#messages::-webkit-scrollbar-thumb, .content-scrollbar::-webkit-scrollbar-thumb{
  background-color:$brand-primary;
  //border-radius:10px;
  //-webkit-border-radius: 10px;
}

#messages::-moz-scrollbar, .content-scrollbar::-moz-scrollbar{
  width:6px;
  background-color: rgba(0,0,0,0.6)}

#messages::-moz-scrollbar-thumb, .content-scrollbar::-moz-scrollbar-thumb{
  background-color:$brand-primary;
  //border-radius:10px;
}

#messages::-scrollbar, .content-scrollbar::-scrollbar{
  width:6px;
  background-color: rgba(0,0,0,0.6)}

#messages::-scrollbar-thumb, .content-scrollbar::-scrollbar-thumb{
  background-color:$brand-primary;
  //border-radius:10px;
}

#messages::-ms-scrollbar, .content-scrollbar::-ms-scrollbar{
  width:6px;
  background-color: rgba(0,0,0,0.6)}

#messages::-ms-scrollbar-thumb, .content-scrollbar::-ms-scrollbar-thumb{
  background-color:$brand-primary;
  //border-radius:10px;
}

