body{
  //background:rgba(0,0,0,0.6) url("../images/logo.png") center no-repeat;
  //background-size: cover;
  background-color: $color-black;
  font-family: 'Muli-Regular';
  font-size: 0.8rem;}


@font-face {
  font-family: 'Muli-Regular';
  src: url('../css/fonts/Muli-Regular.eot?#iefix') format('embedded-opentype'),  url('../css/fonts/Muli-Regular.woff') format('woff'), url('../css/fonts/Muli-Regular.ttf')  format('truetype'), url('../css/fonts/Muli-Regular.svg#Muli-Regular') format('svg');
  font-weight: normal;
  font-style: normal;}


@font-face {
  font-family: 'Muli-ExtraLight';
  src: url('../css/fonts/Muli-ExtraLight.eot?#iefix') format('embedded-opentype'),  url('../css/fonts/Muli-ExtraLight.woff') format('woff'), url('../css/fonts/Muli-ExtraLight.ttf')  format('truetype'), url('../css/fonts/Muli-ExtraLight.svg#Muli-ExtraLight') format('svg');
  font-weight: normal;
  font-style: normal;}


@font-face {
  font-family: 'Muli-SemiBold';
  src: url('../css/fonts/Muli-SemiBold.eot?#iefix') format('embedded-opentype'),  url('../css/fonts/Muli-SemiBold.woff') format('woff'), url('../css/fonts/Muli-SemiBold.ttf')  format('truetype'), url('../css/fonts/Muli-SemiBold.svg#Muli-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}



.hover, .text-hover, .text-hover2{
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
}

.title, .section-title, .extralight{
  font-family: 'Muli-ExtraLight';}

.semibold{
  font-family: 'Muli-SemiBold';
}


.font10{
  font-size: 0.6rem !important;}
.font11{
  font-size: 0.7rem !important;}
.font12, .home-page p{
  font-size: 0.8rem !important;}
.font13{
  font-size: 0.9rem;}
.font14{
  font-size: 1rem;}
.font15{
  font-size: 1.2rem;}
.font16{
  font-size: 1.6rem;}


//.home-logo img{
//  width: 100%; height: auto;}


//Background color and image Start
.bg-color-black-op8{
  background-color:rgba(0,0,0,0.8);}
.bg-color-black-op6{
  background-color:rgba(0,0,0,0.6);}
.bg-color-black{
  background-color: $color-black;}
.bg-color-white{
  background-color: $color-white !important;}
.bg-brand-color{
  background-color: $brand-primary;}

//Background color and image End

.h-100vh{
  height: 100vh;}

.text-decoration{
  text-decoration: underline;}

.cursor-pointer{
  cursor:pointer;}

//flex-basis Css Start
.align-center {
  -ms-align-items: center;
  align-items: center;
}

ul{
  padding: 0px; margin: 0px;
  li{
    list-style: none;}
}

.section-pl-12{
  padding-left: 12%;}
.section-pl-25{
  padding-left: 25%;}


.section-title{
  font-size: 50px; position: relative;
}

.project-details-page .section-title{
  &:after{
    display: block; content: "Virtual Tour";
    margin-left: 2rem; font-size: 0.7rem;
    padding: 7px; border: 1px solid $color-white;
    position: absolute; right: -57%;  top: 33%;
  }
}

.title-line:before{
  content: "";
  width: 11%;
  position: absolute;
  height: 1px;
  left: 0px; top: 30px;
  background-color: $brand-primary;}

//.text-hover:hover, .active{
.text-hover:hover{
  color: $brand-primary; cursor: pointer; }
.text-hover2:hover{
  color: $color-white; cursor: pointer; }

.list-style{
  li{
    padding-left: 15px;
    background: url("../images/li-dot.png") 3px 7px no-repeat;}
}





/********************** navigation *******************************/

.navigation__button{top: 0.2rem;}
.close__button{top:-0.1rem;}
.navigation__button, .close__button{
  background-color: transparent;
  height: 3rem;
  width: 3rem;
  position: fixed;
  right: 0.5rem;
  border-radius: 50%;
  z-index: 2000;
  //-webkit-box-shadow: 0 1rem 3rem rgba(0,0,0,0.1);
  //box-shadow: 0 1rem 3rem rgba(0,0,0,0.1);
  text-align: center;
  cursor: pointer;
  display: none;}

.navigation__icon, .navigation__icon::before, .navigation__icon::after, .close__button::before, .close__button::after {
  width: 25px;
  height: 2px;
  background-color:$color-white;
  display: inline-block;}

.navigation__icon::before, .navigation__icon::after {
  background-color:$color-white;}

.navigation__icon{
  background-color: $brand-primary;}

.navigation__icon {
  position: relative;
  margin-top: 20px;}

.navigation__icon::before {
  top: -.5rem;
}

.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.navigation__icon::before {
  top: -.5rem;
}
.navigation__icon::after {
  top: .5rem;
}

.mobile-nav{
  display: none;}


@media only screen and (max-width: 768px) {

  .navigation__button, .close__button{
    display: block;
  }

  nav, nav.mobile-nav{
    display: none
  }

  nav.mobile-nav {
    //padding: 0px;
    width: 100%;
    height: 100%;
    top: 0;
    background-color:rgba(0,0,0,0.8);
    overflow: hidden;
    position: absolute;
    left: 0;
    z-index: 99999;

    &:hover {
      //padding: 0px;
      width: 100%;
      height: 100%;}

    ul {
      left: 50%;
      top: 50%;
      position: absolute;
      transform: translate(0%, -50%);}

    li {
      height: 35px;
      line-height: inherit !important;
      font-size: 0.9rem;
    }

    .social-media-icon{
      width: 17px; height: 16px; float: left;
      background-size: 17px auto;
      background-position: 0px 0px;

      &:hover{
        background-position: 0px -16px;
      }
    }


  }

  .close__button {
    .navigation__icon{
      margin-top: 1rem;}

    .navigation__icon::before {
      top: 0.5rem !important;
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg);
    }
    .navigation__icon::after {
      top: 0.5rem !important;
      -webkit-transform: rotate(-135deg);
      transform: rotate(-135deg);
    }
    .navigation__icon {
      background-color: transparent;}
  }




  nav.mobile-nav a{
    li {
      color: $color-white;
      text-decoration: none;
    }
    &:hover, li.active{
      color: #1dcfcc; text-decoration: none;
    }
  }

}

@media only screen and (max-width: 767px) {
nav.mobile-nav{
  li{
    &::after {
      content: "";
      display: block;
      width: 0px;
      height: 1px;
      position: absolute;
      right: 198px;
      top: 9px;
      -webkit-transition: width 0.4s;
      transition: width 0.4s;
      background-color: #1dcfcc;
    }
  }
}

  .mobile-nav{
    li.active#mobi-home::after, li.active#mobi-team::after{
        width: 108px;}

    li.active#mobi-projects::after{
        width: 77px !important; }

    li.active#mobi-news::after{
        width: 103px !important;}

    li.active#mobi-connect::after{
        width: 78px;}

    li.active#mobi-joinus::after{
        width: 93px;}

    li.active#login::after{
        width: 111px;}

    li.active#mobi-pp::after{
        width: 57px;}

    li.active#mobi-tnc::after{
        width: 30px;}

    //ATMOS
    li.active#mobi-atmos-home::after{
        width: 30px;}

    li.active#mobi-gallery::after{
        width: 50px;}

    li.active#mobi-location::after{
        width: 30px;}

    li.active#mobi-amenities::after{
        width: 50px;}

    li.active#mobi-project-plan::after{
        width: 30px;}

    li.active#mobi-unit-plan::after{
        width: 50px;}

    li.active#mobi-news::after{
        width: 30px;}

    li.active#mobi-connect::after{
        width: 50px;}

    li.active#mobi-joinus::after{
        width: 50px;}
  }




  nav.mobile-nav {
    background-color:transparent;
    padding: 0px;
    //z-index: 999999999;

    ul{
      left: 55%;}

    &:hover{
      padding-left: 0px;}

    .menu-close{
      width: 45%; float: left; height: 100%;}

  }

  .mobile-bg{
    width: 55%; height: 100%; float: right;
    background-color: rgba(0,0,0,0.8);
  }



}