/*********************** Header Nav *******************************************/
nav{
  top: 42%;
  transform: translate(0%, -50%);
}
nav.main-nav, nav{
  //float: right;
  width: 129px;
  padding:8px 15px;
  @extend .bg-color-black-op6;
  //background: url("../images/nav-bg.png") repeat;
  -webkit-transition: width 0.4s, padding 0.4s, height 0.4s; /* For Safari 3.1 to 6.0 */
  transition: width 0.4s, padding 0.4s, height 0.4s;
  position: absolute; right: 0; z-index: 9999;
  &:hover{
    width: 220px;
    padding-left: 50px;
    li{
      //padding: 8px 0px;
      line-height: 35px;
      height: 35px;}
  }

  .home-nav{
    li:nth-child(2){
      margin-left: -15px !important;
    }
  }
  .team-nav{
    //li:nth-child(2), li:nth-child(4){
    li:nth-child(1), li:nth-child(3){
      margin-left: -15px !important;
    }
  }
  .projects-nav{
    li{
      margin-left: 0px;
    }
    li:nth-child(1), li:nth-child(3){
      margin-left: -15px !important;
    }

    //.social-media{
    //  a{
    //    margin-right: 14px !important;
    //    float: left;
    //  }
    //
    //  li{
    //    margin-left: 0px !important;
    //  }
    //
    //}

  }
  .news-nav {
    //li:nth-child(3), li:nth-child(5) {
      li:nth-child(2), li:nth-child(4){
      margin-left: -15px !important;}
    }

  .connect-nav{
    //li:nth-child(4), li:nth-child(6){
    li:nth-child(3), li:nth-child(5){
      margin-left: -15px !important;
    }
  }
  .joinus-nav{
    li:nth-child(4){
    //li:nth-child(5){
      margin-left: -15px !important;
    }
  }
  //.login-nav{
  //  li:nth-child(6){
  //    margin-left: -15px !important;
  //  }
  //}

  ul{
    width: 100%; float: left;
    li{
      //padding: 4px 0px;
      height: 22px;
      text-align: left;
      text-transform: uppercase;
      -webkit-transition: padding 0.4s, margin 0.4s, font-size 0.4s, height 0.4s, font-size 0.4s; /* For Safari 3.1 to 6.0 */
      transition: padding 0.4s, margin 0.4s, font-size 0.4s, height 0.4s, font-size 0.4s;
      position: relative;
      font-size:0.7rem;
      &:hover{
        color: $brand-primary;
        //font-size:0.9rem;
        margin-left: -30px}

      &:hover:after{
        content: "";
        height: 1px;
        position: absolute;
        right: -15px;
        top:17px;
        background-color:$brand-primary;}
    }

    li:nth-child(1):hover:after{
      width: 153px;}
    li:nth-child(2):hover:after{
      width: 130px;}
      //width: 153px;}
    li:nth-child(3):hover:after{
      width: 153px;}
    li:nth-child(4):hover:after{
      width: 153px;}
    li:nth-child(5):hover:after{
      width: 133px;}
      //width: 125px;}
    li:nth-child(6):hover:after{
      width: 147px;}
    li:nth-child(7):hover:after{
      width: 140px;}

  }
}

nav li:after{
  content: "";
  display: block;
  width: 0px;
  height: 1px;
  position: absolute;
  right: -15px;
  top:17px;
  -webkit-transition: width 0.4s; /* For Safari 3.1 to 6.0 */
  transition: width 0.4s;
  background-color:$brand-primary;}

nav li a{
  color: $color-white; text-decoration: none;}

nav li a:hover, nav li a.active{
  color: $brand-primary; text-decoration: none;
}

//nav li a.active{
//  color: $brand-primary; text-decoration: none;
//  font-size:0.8rem;
//  }

@media screen and (max-width: 5000px) and (min-width: 1024px) { //big screen
  .mobile-nav{
    display: none;}
}


@include respond(smallphone) {
  nav.mobile-nav{
    li{
      &::after {
        content: "";
        display: none;
      }
    }
  }
}


nav.atmos-nav, nav{
  //float: right;
  width: 129px;
  padding:8px 15px;
  @extend .bg-color-black-op6;
  //background: url("../images/nav-bg.png") repeat;
  -webkit-transition: width 0.4s, padding 0.4s, height 0.4s; /* For Safari 3.1 to 6.0 */
  transition: width 0.4s, padding 0.4s, height 0.4s;
  position: absolute; right: 0; z-index: 9999;
  &:hover{
    width: 220px;
    padding-left: 50px;
    li{
      //padding: 8px 0px;
      line-height: 35px;
      height: 35px;}
  }

  .home-nav{
    li:nth-child(2){
      margin-left: -15px !important;
    }
  }
  .gallery-nav{
    li:nth-child(1), li:nth-child(3){
      margin-left: -15px !important;
    }
  }
  .location-nav{
    li:nth-child(2), li:nth-child(4){
      margin-left: -15px !important;
    }
  }
  .amenities-nav{
    //li{
    //  margin-left: 0px;
    //}
    li:nth-child(3), li:nth-child(5){
      margin-left: -15px !important;
    }
  }
  .project-plan-nav{
    li:nth-child(4), li:nth-child(6){
      margin-left: -15px !important;
    }
  }
  .unit-plan-nav{
    li:nth-child(5), li:nth-child(7){
      margin-left: -15px !important;
    }
  }
  .news-atmos-nav{
    li:nth-child(6), li:nth-child(8){
      margin-left: -15px !important;
    }
  }
  .connect-atmos-nav{
    li:nth-child(7), li:nth-child(9){
      margin-left: -15px !important;
    }
  }
  .joinus-atmos-nav{
    li:nth-child(8){
      margin-left: -15px !important;
    }
  }
  //.login-nav{
  //  li:nth-child(6){
  //    margin-left: -15px !important;
  //  }
  //}

  ul{
    width: 100%; float: left;
    li{
      //padding: 4px 0px;
      height: 22px;
      text-align: left;
      text-transform: uppercase;
      -webkit-transition: padding 0.4s, margin 0.4s, font-size 0.4s, height 0.4s, font-size 0.4s; /* For Safari 3.1 to 6.0 */
      transition: padding 0.4s, margin 0.4s, font-size 0.4s, height 0.4s, font-size 0.4s;
      position: relative;
      font-size:0.7rem;
      &:hover{
        color: $brand-primary;
        //font-size:0.9rem;
        margin-left: -30px}

      &:hover:after{
        content: "";
        height: 1px;
        position: absolute;
        right: -15px;
        top:17px;
        background-color:$brand-primary;}
    }

    li:nth-child(1):hover:after{
      width: 140px;}
    li:nth-child(2):hover:after{
      width: 130px;}
    li:nth-child(3):hover:after{
      width: 125px;}
    li:nth-child(4):hover:after{
      width: 120px;}
    li:nth-child(5):hover:after{
      width: 100px;}
    li:nth-child(6):hover:after{
      width: 122px;}
    li:nth-child(7):hover:after{
      width: 145px;}
    li:nth-child(8):hover:after{
      width: 125px;}
    li:nth-child(9):hover:after{
      width: 138px;}
  }
}

nav ul {
  width: 100%;
  float: left;
  text-transform: uppercase;
}

//.fixed-top{
//  z-index: 99999;
//}