
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #1dcfcc;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

$color-white:#FFFFFF;
$color-black:#000000;
$color-gray:#848484;

.brand-primary{
  color: $brand-primary;}
.color-white{
  color: $color-white;}
.color-black{
  color: $color-black;}
.color-gray{
  color: $color-gray;}

.color-white2{
  color: rgba($color-white,0.5);
}

