
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

//variables
@import "variables";

//ALl class
@import "classes";

@import "mixins";

@import "nav";

@import "chat";

*{
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  -o-user-select: none;
  user-select: none;}

input, select, textarea{
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  -o-user-select: text;
}

//a:link, a:hover{
//  text-decoration: none;
//  color: $brand-primary;
//}

.brand-primary-hover:hover{
    //text-decoration: none;
  color: $brand-primary;
}

html, body{
  height: 100%; width: 100%;
  color: $color-white !important;}

.form-control{
  border-radius: 0px;
  font-size: 0.7rem;
  border: 0px; padding: 8.5px 0.75rem;
  color: $color-black;
  @extend .semibold;}

select{
  width: 100%;
  padding: 7.5px 0.75rem;
  font-size: 0.7rem;}

textarea{
  width: 100%; padding: 0.375rem 0.75rem;
  background-color: $color-white !important;
  max-height: 71px; min-height: 71px; font-size: 0.7rem;}

.form-control:disabled, .form-control[readonly] {
  background-color: $color-white;
}

.form-control:focus{
  border:$brand-primary; box-shadow:0 0 0 0.2rem rgba(29, 207, 204, 0.55);
}

.carousel-control-prev, .carousel-control-next{
  color: $brand-primary; z-index: 999999;
}

.carousel-control-prev-icon{
  background: url("../images/prev-icon.png");}

.carousel-control-next-icon{
  background: url("../images/next-icon.png");}

.carousel-indicators .active{
  background-color: $brand-primary;}

.carousel-indicators li{
  background-color: $color-black;
  width: 8px; height: 8px; border-radius: 100%;
}

.styled-select {
  width: 100px;
  overflow: hidden;
  overflow: -moz-hidden-unscrollable;
  background: $color-white url(../images/down-arrow.png) no-repeat right;
  border: 0px double $color-gray;
  display: inline-block;
  position: relative;
}

.styled-select select {
  background: transparent;
  -webkit-appearance: none;
  border: 0;}

::-webkit-input-placeholder{
  text-transform: uppercase;}

:-moz-placeholder {
  text-transform: uppercase;}

::-moz-placeholder {
  text-transform: uppercase;}

:-ms-input-placeholder {
  text-transform: uppercase;}

select.padding{
  padding: 9px 10px 8px 10px;}

.border-top {
  border-top: 1px solid $color-white;}

.border-right {
  border-right: 1px solid $color-white;}

.border-bottom {
  border-bottom: 1px solid $color-white;}

.border-left {
  border-left: 1px solid $color-white;}


/* CUSTOM RADIO & CHECKBOXES
   http://stackoverflow.com/a/17541916/383904 */
.rad,
.ckb{
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}
.rad > input,
.ckb > input{ /* HIDE ORG RADIO & CHECKBOX */
  visibility: hidden;
  position: absolute;
}
/* RADIO & CHECKBOX STYLES */
.rad > i,
.ckb > i{     /* DEFAULT <i> STYLE */
  display: inline-block;
  vertical-align: middle;
  width:  20px;
  height: 20px;
  border-radius: 50%;
  transition: 0.2s;
  box-shadow: inset 0 0 0 8px #403f3f;
  border: 2px solid $brand-primary;
  background: $brand-primary;
}
/* CHECKBOX OVERWRITE STYLES */
.ckb > i {
  width: 25px;
  border-radius: 3px;
}
.rad:hover > i{ /* HOVER <i> STYLE */
  box-shadow: inset 0 0 0 3px #403f3f;
  background: $brand-primary;
}
.rad > input:checked + i{ /* (RADIO CHECKED) <i> STYLE */
  box-shadow: inset 0 0 0 3px #403f3f;
  background: $brand-primary;
}
/* CHECKBOX */
.ckb > input + i:after{
  content: "";
  display: block;
  height: 12px;
  width:  12px;
  margin: 2px;
  border-radius: inherit;
  transition: inherit;
  background: $brand-primary;}

.ckb > input:checked + i:after{ /* (RADIO CHECKED) <i> STYLE */
  margin-left: 11px;
  background:  $brand-primary;}


.btn{
  background-color: $brand-primary;
  border-radius: 0px; color: $color-white;
  text-transform: uppercase; padding:0.5rem 2rem;
  font-size: 0.8rem;
  font-size: 0.8rem;
  &:hover{
    background-color: $color-white;
    color: $brand-primary;}
}

.btn.send{
  background-color: $color-black;
  padding:6px 7px; margin-top: 8px;
  margin-right: 8px;

  &:hover{
    background-color: $brand-primary;
    color: $color-black;}
}

.send-input{
  padding:8px 7px 4px;

  textarea{
    height: 35px;
    max-height: inherit;
    min-height: inherit;}
}


.overflow-hidden{
  overflow: hidden;
}

//Header
header, footer{
  height: 45px;}

.header-content, .footer-content{
  float: right; z-index: 9}

.language-main{

}

.register-main.register-open{
  .register-content{
    margin-top: 46px;}
}

.register-content{
  margin-top: -251px;
  -webkit-transition: margin 0.4s; /* For Safari 3.1 to 6.0 */
  transition: margin 0.4s;
  width: 285px; height: 286px;
  @extend .bg-color-black-op6;
  color: $color-gray;
  @extend .semibold;
}

//Footer
.footer-left-content{
  padding-top: 8px;
  padding-left: 9.5%; text-transform: uppercase;
  a{
    text-transform: uppercase; color: $color-white;
  }
  a:hover{
    text-decoration: none;
    color: $brand-primary;
  }

  .active{
    color: $brand-primary;}
}

.chat-main, .register-main{
  float: left; position: relative;
  -webkit-transition: margin 0.4s; /* For Safari 3.1 to 6.0 */
  transition: margin 0.4s;}

.chat-main.open-chat{
  margin-top: -280px;}

.chat-main.open-chat .chat-btn, .register-main.register-open .register-btn{
  background-color: $brand-primary;}

.chat-content{
  width: 285px; height: 325px;
  background-color:$color-white;
  padding-top: 46px;}

.chat-content-box{
  width: 100%; float: left;
  height: 195px; overflow: auto;
  border-bottom: 1px solid $brand-primary;

  ul li{
    width: 100%; float: left;
    padding: 0.5rem 0.5rem 1.3rem;
  }

  li.user{
    .chat-dp{
      float: right;}

    .chat-text-box{
      background-color: $color-black;
      color: $brand-primary;
      float: right; margin-right: 1rem;
      margin-left: inherit;
      &:before{
        position: absolute; right: -6px; top: 10px;
        left:inherit;
        display: block; content: "";
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-left: 8px solid $color-black;
        border-right: none;
      }
      .timer-typing{
        position: absolute;
        right:0px; left: inherit;
      }

      .timer{
        text-align: right;}
    }
  }

  .chat-dp{
    width: 48px; height: 48px;
    float: left;
    img{
      width: 100%; height: 100%;}
  }

  .chat-text-box{
    background-color: $brand-primary;
    padding: 0.6rem; color: $color-black;
    max-width: 198px; float: left; margin-left: 1rem;
    @extend .semibold; @extend .font12;
    position: relative;
    &:before{
      position: absolute; left: -6px; top: 10px;
      display: block; content: "";
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-right: 8px solid $brand-primary;
    }

    .timer-typing{
      position: absolute;
      bottom: -20px; left: 0px;
      color: $color-black; font-size: 0.7rem;
      min-width: 100px;
    }
  }
}




//scrollbar Css Start
.chat-content-box::-webkit-scrollbar, .content-scrollbar::-webkit-scrollbar{
  width:6px;
  background-color: rgba(0,0,0,0.6)}

.chat-content-box::-webkit-scrollbar-thumb, .content-scrollbar::-webkit-scrollbar-thumb{
  background-color:$brand-primary;
  //border-radius:10px;
  //-webkit-border-radius: 10px;
}

.chat-content-box::-moz-scrollbar, .content-scrollbar::-moz-scrollbar{
  width:6px;
  background-color: rgba(0,0,0,0.6)}

.chat-content-box::-moz-scrollbar-thumb, .content-scrollbar::-moz-scrollbar-thumb{
  background-color:$brand-primary;
  //border-radius:10px;
}

.chat-content-box::-scrollbar, .content-scrollbar::-scrollbar{
  width:6px;
  background-color: rgba(0,0,0,0.6)}

.chat-content-box::-scrollbar-thumb, .content-scrollbar::-scrollbar-thumb{
  background-color:$brand-primary;
  //border-radius:10px;
}

.chat-content-box::-ms-scrollbar, .content-scrollbar::-ms-scrollbar{
  width:6px;
  background-color: rgba(0,0,0,0.6)}

.chat-content-box::-ms-scrollbar-thumb, .content-scrollbar::-ms-scrollbar-thumb{
  background-color:$brand-primary;
  //border-radius:10px;
}

.content-scrollbar{
  width: 100%; float: left;
  max-height: 410px; overflow: auto;
}
//scrollbar Css End

.social-media{
  padding-right: 18px;}

.social-media ul li{
  width: 17px; height: 16px !important;
  margin: 15px 14px 15px 0;
  float: left;
  background-size: 17px auto;
  background-position: 0px 0px;}

.social-media ul li:first-child{
  padding-left: 0;
}

.social-media ul li:hover{
  background-position: 0px -16px;
  margin-left: 0 !important;
  @extend .hover;
}

.social-media ul li::after{
  display: none;
}

.fb-icon{
  background-image: url("../images/fb-icon.png");}
.ig-icon{
  background-image: url("../images/ig-icon.png");}
.tw-icon{
  background-image: url("../images/tw-icon.png");}

.attachment-icon{
  //position: absolute;
  //right: 10px; top: 8px;
  background-size: 12px auto;
  background:#ffffff url("../images/attachment-icon.png") center no-repeat;}


.attachment-icon{
  position: absolute; right: 10px; top: 0px; height: 33px;
  min-width: 31px; z-index: 99; margin-bottom: 0px;
}
//Footer End


//Coomen css

.main-body, .page-bg{
  position: relative; overflow: auto;
  z-index: 1; height: calc(100vh - 0px);
  width: 100%;}
//padding-top: 45px;}

.page-container{
  overflow: hidden;}

.page-container, .center-middle{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-flow: row wrap;}

.align-items{
  align-items: center;}

.justify-content{
  justify-content: space-between;
}

.content-center-middle{
  display: -webkit-flex; display: -ms-flex; display: flex;
  flex-flow: row wrap; justify-content: center; align-items: center;
}


.craft-beer-landing-vidbg{
  //position: fixed;
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

section{
  width:calc(100% - 220px);
}


/*********************** Header Register your interest *******************************************/
.register-btn, .chat-btn{
  width: 285px; position: absolute;
  cursor: pointer; font-size: 0.7rem;
  @extend .hover; color: $color-white;
  &:hover{
    background-color: $brand-primary;
  }
}
.panel-heading:after{
  content: "";
  float: right;
  display: block;
  width: 0; height: 0;
  margin-top: 5px;
  //position: absolute; right: 10px;
  //top: 50%; margin-top: -3px;
}

.register-btn, .chat-btn{
  padding: 15px 15px;
  background-color: #002f6d;
  @extend .color-white;   z-index: 9;
  text-align: left; text-transform: uppercase;}

.panel-heading.open-chat:after{//arrow-down
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #FFF; border-bottom: none;}
.panel-heading:after{//arrow-up
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #FFF; border-top: none;}

.register-btn:after, .chat-btn:after{
  content: "";
  float: right;
  display: block;
  width: 0; height: 0;
  position: absolute; right: 10px;
  top: 50%; margin-top: -3px;}

.register-btn, .chat-btn{
  padding: 15px 15px;
  background-color: #002f6d;
  @extend .color-white; z-index: 9;
  text-align: left; text-transform: uppercase;}

.register-btn:after, .chat-main.open-chat .chat-btn:after {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #FFF;
  border-bottom: none;
}
.register-main.register-open .register-btn:after{
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #FFF; border-top: none;
}


.page-bg.atmos-bg{
  background: url("../images/atmos-bg.jpg") no-repeat;
  background-size: cover; background-position: center;
}
.page-bg.corella-bg{
  background: url("../images/projects-img/corella-project/project-big-bg.jpg") no-repeat;
  background-size: cover; background-position: center;
}
.page-bg.connect-bg{
  background: url("../images/connect-bg.jpg") no-repeat;
  background-size: cover; background-position: center;
}
.page-bg.joinus-bg{
  background: url("../images/joinus-bg.jpg") no-repeat;
  background-size: cover; background-position: center;
}
.page-bg.news-bg{
  background: url("../images/news-bg.jpg") no-repeat;
  background-size: cover; background-position: center;
}
.page-bg.team-bg{
  background: url("../images/team-bg.jpg") no-repeat;
  background-size: cover; background-position: center;
}
.page-bg.tnc-bg{
  background: url("../images/tnc-bg.jpg") no-repeat;
  background-size: cover; background-position: center;
}
.page-bg.pp-bg{
  background: url("../images/pp-bg.jpg") no-repeat;
  background-size: cover; background-position: center;
}


//.header {
//  height: 95vh;
//  background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)),
//  url(../img/hero.jpg);
//  background-size: cover;
//  background-position: top;
//  position: relative;
//  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
//  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
//}



/*********************** Common Css all page *******************************************/
.inner-logo{
  width: 12%; z-index: 99; top: 50%;
  transform: translate(0%, -50%);}

.connect-page, .joinus-page, .news-page, .projects-page, .project-details-page{
  position: relative;
  width: calc(100% - 250px);
  max-width: 1400px;}

.news-page{
  h2{
    font-size: 1.3rem;}
}

/*********************** home page *******************************************/
.home-logo, .home-logo{
  img{
    width: 90px; height: 116px;}
}

.home-page .content{
  width: 60%;

  p{
    height: 0px; overflow: hidden;
    webkit-transition: height 0.4s;
    transition: height 0.4s;
    margin-bottom: 0px;
  }
  #hideread-more{
    display: none;
  }

}

.show-readmore{
  p{
    height: auto !important;
    margin-bottom: 1rem !important;
  }
}

/*********************** Connect page *******************************************/

.joinus-form{
  display: none;}


/*********************** News page *******************************************/

.news-page{
  .nav-link{
    margin-left: -1rem;
  }
}
.news-page{
  a.nav-link{
    color: #ffffff;
  }
  a:hover.nav-link{
    color: rgba(255,255,255,0.7);}
}
.news-page {
  .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff; border-radius: 0px;
    @extend .bg-color-black-op6;
  }
}


/*********************** Project page *******************************************/
.projects-page{
  .carousel-control-prev, .carousel-control-next{
    //display: none;
    width: 4% !important;}

  .carousel.slide{
    width: 898px;}

  .carousel-control-next {
    right: -35px;}
  .carousel-control-prev {
    left: -35px;}
}

.carousel-imgs{  // carousel image content
  width: 81%; margin-left: 9.5%; margin-right: 9.5%; margin-top: 1%; margin-bottom: 1%;


  @include respond(desktop){
    //width: 77%; margin-left: 7%; margin-right: 7%; margin-top: 2%;
  }


  @include respond(phone){
    width: 100%; margin: 0;
  }

}

.project-main{

  .carousel-item{
    height: 440px;}

  ul li{
    width:220px; height:220px;
    margin-bottom: 3px;
    @extend .bg-color-black-op6;
    display: inline-block; margin-left: 0px; margin-right: 0px;
    position: relative; cursor: pointer;

    img{
      width: 100%; height: auto;
    }
  }
  ul.more-four-project{
    li{
      margin-top:0px; float: left;
      margin-left: 3px;
    }
  }
  ul.below-three-project{
    li{
    margin-top: 110px;
    }
  }


}


.project-name{
  color: $color-white;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center; z-index: 999;
  @extend .semibold; text-transform: uppercase;
}

.project-overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity:0;
  transition: .5s ease;
}

.project-normal{
  width: 100%; height: 100% !important;
}


.project-no1-hover{
  .project-no1, .project-no1:hover{
    .project-normal{opacity: 0}
    .project-overlay {
      opacity:1;
    }
  }
  .project-no2, .project-no5{
    .project-normal{opacity:0}
    .project-overlay {
      opacity:0.4;
    }
  }
  .project-no3, .project-no6{
    .project-normal{opacity:0}
    .project-overlay {
      opacity:0.1;
    }
  }
}

.project-no2-hover{
  .project-no2{
    .project-normal{opacity: 0}
    .project-overlay {
      opacity:1;
    }
  }
  .project-no1, .project-no3, .project-no6, .project-no5, .project-no7{
    .project-normal{opacity:0}
    .project-overlay {
      opacity:0.4;
    }
  }
}

.project-no3-hover{
  .project-no3{
    .project-normal{opacity: 0}
    .project-overlay {
      opacity:1;
    }
  }
  .project-no2, .project-no4, .project-no6, .project-no7, .project-no8{
    .project-normal{opacity:0}
    .project-overlay {
      opacity:0.4;
    }
  }
  .project-no1, .project-no5{
    .project-normal{opacity:0}
    .project-overlay {
      opacity:0.1;
    }
  }
}

.project-no4-hover{
  .project-no4{
    .project-normal{opacity: 0}
    .project-overlay {
      opacity:1;
    }
  }
  .project-no3, .project-no7, .project-no8{
    .project-normal{opacity:0}
    .project-overlay {
      opacity:0.4;
    }
  }
  .project-no2, .project-no6{
    .project-normal{opacity:0}
    .project-overlay {
      opacity:0.1;
    }
  }
}

.project-no5-hover{
  .project-no5{
    .project-normal{opacity: 0}
    .project-overlay {
      opacity:1;
    }
  }
  .project-no1, .project-no2, .project-no6{
    .project-normal{opacity:0}
    .project-overlay {
      opacity:0.4;
    }
  }
  .project-no3, .project-no7{
    .project-normal{opacity:0}
    .project-overlay {
      opacity:0.1;
    }
  }
}

.project-no6-hover{
  .project-no6{
    .project-normal{opacity: 0}
    .project-overlay {
      opacity:1;
    }
  }
  .project-no1, .project-no2, .project-no3, .project-no5, .project-no7{
    .project-normal{opacity:0}
    .project-overlay {
      opacity:0.4;
    }
  }
  .project-no4, .project-no8{
    .project-normal{opacity:0}
    .project-overlay {
      opacity:0.1;
    }
  }
}

.project-no7-hover{
  .project-no7{
    .project-normal{opacity: 0}
    .project-overlay {
      opacity:1;
    }
  }
  .project-no1, .project-no2, .project-no3, .project-no4, .project-no6, .project-no8{
    .project-normal{opacity:0}
    .project-overlay {
      opacity:0.4;
    }
  }
  .project-no1, .project-no5{
    .project-normal{opacity:0}
    .project-overlay {
      opacity:0.1;
    }
  }
}

.project-no8-hover{
  .project-no8{
    .project-normal{opacity: 0}
    .project-overlay {
      opacity:1;
    }
  }
  .project-no3, .project-no4, .project-no7{
    .project-normal{opacity:0}
    .project-overlay {
      opacity:0.4;
    }
  }
  .project-no2, .project-no6{
    .project-normal{opacity:0}
    .project-overlay {
      opacity:0.1;
    }
  }
}



//Projects Details Start

.project-details-page{
  min-height: 450px;
  .nav.project-details {
    a {
      color: $color-white;
      text-transform: uppercase;
      @extend .font12;
      padding: 2px 0px;
    }

    .nav-link {
      position: relative;
      webkit-transition: padding 0.4s;
      transition: padding 0.4s;
      &:hover {
        color: $brand-primary;
        padding-left: 30px;
        //margin-left:30px
      }

      //#gallery-tab:hover:after {
      //  width: 150px;
      //}

      &:hover:after {
        width: 50%;
        content: "";
        height: 1px;
        position: absolute;
        left: -45%;
        top: 10px;
        background-color: $brand-primary;
      }
    }

    .nav-link:after {
      width: 0%;
      content: "";
      height: 1px;
      position: absolute;
      left: -45%;
      top: 10px;
      background-color: $brand-primary;
      webkit-transition: width 0.4s;
      transition: width 0.4s;
    }

    .nav-link.active:after {
      width: 50%;
      content: "";
      height: 1px;
      position: absolute;
      left: -45%;
      top: 10px;
      background-color: $brand-primary;
    }

    .nav-link.active {
      padding-left: 30px;
    }


  }

  .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: $brand-primary;
    background-color: transparent;
  }

  .nav.nav-pills.project-details{
    margin-left:-33%; padding-left: 33%;}

}

.floorplans-tabs, .virtualtour-tabs, .unitplans-tabs{
  li{
    text-align: center;
    text-transform: uppercase;
    border-top: 1px solid $brand-primary;
    background-color: $color-black;
    cursor: pointer; border-right: 1px solid $brand-primary;

    a{
      color:$color-white; text-decoration: none;
      padding: 15px 0px; width: 100%; float: left;
      text-align: center;}

    &:hover a, a.active.show{
      color: $brand-primary;}
  }
}

.project-next{
  top: -35px; left: 50%;
  &:after{
    content: "";
    display: inline-block;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid $brand-primary;
    border-top: none;
    position: absolute; z-index: 9;
    left: 50%; top: -13px;
    transform: translate(-50%,0);}

  .on-hover{
    bottom:25px;}
}

.arrow-left0.project-prev:before {
  left: 4px !important;
}
.arrow-left1.project-prev:before {
  left: 18px !important;
}
.arrow-left2.project-prev:before {
  left: 35px !important;
}
.project-prev{
  bottom: -35px; left: 50%;
  &:before{
    content: "";
    display: inline-block;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid $brand-primary;
    border-bottom: none;
    position: absolute; z-index: 9;
    width: 24px;
    left: 26px; bottom: -13px;
    transform: translate(50%,0);}

  .on-hover{
    top: 25px;}
}

.project-next, .project-prev{
  position: absolute;
  border: 1px solid $brand-primary;
  padding: 4px 6px; text-transform: uppercase; color: $brand-primary;
  text-align: center; font-size: 0.7rem; cursor: pointer;
  transform: translate(-50%,0);

  &:hover{
    border:1px solid transparent;
    background: url("../images/nav-bg.png") repeat;
    color: $brand-primary;

    .on-hover{
      height: 250px;
      border: 1px solid transparent;
      -webkit-transition: height 0.4s; /* For Safari 3.1 to 6.0 */
      transition: height 0.4s;
      background: url("../images/nav-bg.png") repeat;
    }
  }

  .on-hover{
    height: 0; width: calc(100% - -2px);
    left: -1px;
    -webkit-transition: height 0.4s; /* For Safari 3.1 to 6.0 */
    transition: height 0.4s;
    position: absolute;}

}


//*************************** Gallery Start **************************************

.gallery-main{
  .carousel-indicators{
    position: relative;
    margin-left: 0%; margin-right: 0%; bottom: 0%;
    border-top: 1px solid $brand-primary;

    li{
      width: 25%; overflow: hidden;
      border-radius: 0%; margin: 0%;
      max-height:60px; cursor: pointer; min-height: 50px;
      background-color: transparent;
      img{
        width: 100%; height: auto;
      }
    }
  }

  .carousel-indicators li.list-inline-item.active::before{
    background: url("../images/down-arrow2.png") center no-repeat;
    top: 0px; }
}

.floorplans-main .carousel-inner{
  background-color:$color-white;
  position: relative;
  //height: 513px; // ext add this css

  .carousel-text{
    position: absolute;
    bottom:-2.8rem; left: 0;
    width: 100%; padding: 0.4rem;
  }

}

.carousel-inner, .virtualtour-main .tab-content{
  height: 400px;}

#myCarousel .carousel-indicators > li {
  text-indent: initial;}



//*************************** amenities Start **************************************
.amenities-main{
  width: 100%; float: left;

  li{
    width: 25%; display: inline-block;
    text-align: center; margin-bottom: 2rem;
    cursor: pointer; height: auto;
    a{
      color: $color-white; text-decoration: none;
      display: inline-block;}
    .amenitie-iconbox:hover, .active{
      span {
        color: $brand-primary;
      }
    }

    span{
      width: 100%; text-align: center;
      float: left;}

    .amenitie-iconbox:hover .amenities-icon, .active .amenities-icon{
      background-position: 0px -62px;}
  }

  .amenities-icon{
    width: 66px; height: 62px;
    margin:0 auto 0.5rem;
    background-size: 66px auto;
    background-position: 0px 0px;
    @extend .hover;}

  .amenities-icon01{ background-image:url(../images/amenities-icon01.png); }
  .amenities-icon02{ background-image:url(../images/amenities-icon02.png); }
  .amenities-icon03{ background-image:url(../images/amenities-icon03.png); }
  .amenities-icon04{ background-image:url(../images/amenities-icon04.png); }
  .amenities-icon05{ background-image:url(../images/amenities-icon05.png); }
  .amenities-icon06{ background-image:url(../images/amenities-icon06.png); }
  .amenities-icon07{ background-image:url(../images/amenities-icon07.png); }
  .amenities-icon08{ background-image:url(../images/amenities-icon08.png); }

  .amenities-tab-show-content{
    h3 {
      color: $brand-primary;
      @extend .extralight;
      font-size: 1.3rem;
    }
  }

}



//*************************** Floor Plans Start **************************************
.floorplans-main{
  .projectplan-tabs{
    li{
      width: 25%;}

    li:nth-child(4){
      border-right: 0px;}
  }

  .carousel-control-prev, .carousel-control-next{
   width: 5%;}
}

//*************************** Floor Plans Start **************************************
.floorplans-main{
  .unitplans-tabs{
    li{
      width:25%;}

    li:nth-child(4){
      border-right: 0px;}
  }
  .floorplans-tabs{
    li{
      width: 33.33%; height: auto}

    li:nth-child(4){
      border-right: 0px;}
  }

  .carousel-control-prev, .carousel-control-next{
   width: 5%;}
}


//*************************** Virtual Tour Start **************************************

.virtualtour-main{
  .virtualtour-tabs{
    li{
      width: 50%;}

    li:nth-child(2){
      border-right: 0px;}
  }
}

//*********************************************** Our Team  ********************************

.ouryteam-main{
  min-height: 390px;
  .ourteam-tabs{
    padding-left:0.5rem;
    li{
      margin-right: 15px;
      background-color: $brand-primary; color: $color-white;
      cursor: pointer;

      &:hover, a.active{
        background-color: $color-white;

        a{color: $brand-primary;}
      }

      a.active{
        color: $brand-primary;}

      a{
        color: $color-white; text-decoration: none;
        display: inline-block;
        padding: 7px 10px;
      }
    }
  }


  #management-content, #advisory-content{
    ul {
      padding-left: 0.5rem;
      li {
        width: calc(33.33% - 8px);
        padding: 0px 0px;
        margin-bottom: 10px;
        margin-right: 0.5rem;
        position: relative;
        cursor: pointer;
        float: left;
        img {
          width: 100%;
          height: auto;
        }
        .member-name {
          font-size: 0.8rem;
          text-align: center;
          padding-top: 3px;
        }

        .overlap-div {
          opacity: 0;
          width: calc(100% - 20px);
          height: calc(100% - 44px);
          position: absolute;
          left: 0px;
          top: 0px;
          margin: 10px;
          -webkit-transition: opacity 0.4s; /* For Safari 3.1 to 6.0 */
          transition: opacity 0.4s;
          @extend .bg-color-black-op6;
          @extend .content-center-middle;
          text-align: left;
          padding: 10px;
          overflow: hidden;
        }

        &:hover {
          .overlap-div {
            opacity: 0;
          }
        }
      }
    }

    #management-details, #advisory-details, #management-details01, #management-details02, #management-details03, #management-details04, #management-details05, #advisory-details01{
      display: none;}


    #management-details01, #management-details02, #management-details03, #management-details04, #management-details05, #advisory-details01{
      .big-photo_with_name{
        width: 200px; height: auto;
        float: left;
      }

      .photo-content{
        width: calc(100% - 200px);
        float: right; padding-left: 1rem;
      }

      @include respond(phone){
        .photo-content{
          width: 100%; float: left;
          @include clearfix; padding-left: 0rem;
        }
      }

    }

  }

}


/********************************** Download Css Start **********************************************/

.download-main{
  padding: 2rem;
}

.skip-btn{
  position: absolute;
  bottom: 1rem; right: 20px;
  z-index:999; background-color: transparent;
  outline: 0; border: 0; text-decoration: underline;
  cursor: pointer;

}

@include respond(phone){
  .skip-btn{ display: none;}
}

/********************************** Animation Css Start **********************************************/

.delay-0{
  animation-delay:1s;
}
.delay-1{
  animation-delay:1s;
}
.delay-2{
  animation-delay:1.30s;
}
.delay-3{
  animation-delay:1.50s;
}
.delay-4{
  animation-delay:1.70s;
}
.project-delay1{
  animation-delay:0.50s;}
.project-delay2{
  animation-delay:0.60s;}
.project-delay3{
  animation-delay:0.70s;}
.project-delay4{
  animation-delay:0.80s;}
.project-delay5{
  animation-delay:0.90s;}
.project-delay6{
  animation-delay:1s;}
.project-delay7{
  animation-delay:1.10s;}
.project-delay8{
  animation-delay:1.20s;}

/********************************** Animation Css End **********************************************/



/********************************** mobile Css End **********************************************/

@media screen and (max-width: 1920px) and (min-width: 1400px) {
  .mobile-nav, .mobi-ipad-show{
    display: none !important;}
  .project-details-page, #location-tab02{
    height: 513px;}

  #location-tab02{
    overflow: hidden;}

  .carousel-inner, .virtualtour-main .tab-content {
    height: 462px;}

  .content-scrollbar{
    max-height: 470px; min-height:420px;}

  .page-bg.team-bg section{
    height: 500px !important;}

  .ouryteam-main {
    min-height: 470px;
  }
}

@media screen and (max-width: 1399px) and (min-width: 1200px) {
  .mobile-nav, .mobi-ipad-show{
    display: none !important;}
  .ouryteam-main {
    min-height: 406px;
  }
  .project-details-page {
    min-height: 443px;
  }
  .carousel-inner.project-main{
    height: 450px;
  }
  .carousel-inner, .virtualtour-main .tab-content {
    height: 367px;
  }

  #location-tab02 {
    height: 443px;
  }

  .page-bg.team-bg section{
    height: 420px;}
}

#location-tab02{
  overflow: hidden;}

.page-bg.team-bg section{
  height: 420px;}


@media screen and (max-width: 5000px) and (min-width: 768px) { //big screen
  .amenities-popup{
    display: none !important;}
}
@media screen and (max-width: 1024px) and (min-width: 769px) {
  .mobi-ipad-show{
    display: none;}

  .content-scrollbar {
    max-height: 350px; padding-right: 10px;}

  .home-page .content {
    width: 81%;}

  .team-bg .pr-5{
    padding-right: 1rem !important;}

  .project-main ul li{
    width: 180px; height: 180px;}

  .page-bg.team-bg section {
    height: 380px;}

  .carousel-inner, .virtualtour-main .tab-content {
    height: 350px;}

  .project-details-page {
    min-height: 400px;}

  #location-tab02{
    height: 400px;
  }

  .joinus-form .w-25{
    width: 30% !important;}

  .joinus-form .w-75{
    width: 70% !important;}
}

@media only screen and (max-width: 1024px) {
  h2{font-size: 1.7rem;}
  .inner-logo img{ width:50px;}
  .section-title {
    font-size: 40px;}

  .projects-page .carousel.slide {
    width: 745px; margin-left: 2rem;}

  .connect-page, .joinus-page, .news-page, .projects-page, .project-details-page {
    width: calc(100% - 150px);}
}

@media only screen and (max-width: 768px) {
  //.page-bg.team-bg{
  //  background-image: linear-gradient( to right bottom, rgba($color-black, 0.6), rgba($color-black, 0.6)), url("../images/team-bg.jpg");
  //  background-size: cover; background-position: center;}

  .page-bg.atmos-bg{
    background-image: linear-gradient( to right bottom, rgba($color-black, 0.6), rgba($color-black, 0.6)), url("../images/atmos-bg.jpg");
    background-size: cover; background-position: center;
  }
  .page-bg.corella-bg{
    background-image: linear-gradient( to right bottom, rgba($color-black, 0.6), rgba($color-black, 0.6)), url("../images/projects-img/corella-project/project-big-bg.jpg");
    background-size: cover; background-position: center;
  }
  .page-bg.connect-bg{
    background-image: linear-gradient( to right bottom, rgba($color-black, 0.6), rgba($color-black, 0.6)), url("../images/connect-bg.jpg");
    background-size: cover; background-position: center;
  }
  .page-bg.joinus-bg{
    background-image: linear-gradient( to right bottom, rgba($color-black, 0.6), rgba($color-black, 0.6)), url("../images/joinus-bg.jpg");
    background-size: cover; background-position: center;
  }
  .page-bg.news-bg{
    background-image: linear-gradient( to right bottom, rgba($color-black, 0.6), rgba($color-black, 0.6)), url("../images/news-bg.jpg");
    background-size: cover; background-position: center;
  }
  .page-bg.team-bg{
    background-image: linear-gradient( to right bottom, rgba($color-black, 0.6), rgba($color-black, 0.6)), url("../images/team-bg.jpg");
    background-size: cover; background-position: center;
  }
  .page-bg.tnc-bg{
    background-image: linear-gradient( to right bottom, rgba($color-black, 0.6), rgba($color-black, 0.6)), url("../images/tnc-bg.jpg");
    background-size: cover; background-position: center;
  }
  .page-bg.pp-bg{
    background-image: linear-gradient( to right bottom, rgba($color-black, 0.6), rgba($color-black, 0.6)), url("../images/pp-bg.jpg");
    background-size: cover; background-position: center;
  }

  .mobi-ipad-show{
    display: block;}

  .mdtp-flex-none{
    display: block !important; }

  .pl-mdtp-0{
    padding-left: 0px!important;}

  .pl-mdtp-4{
    padding-left: 1.5rem !important;}

  .pr-mdtp-0{
    padding-right: 0px !important;}

  .mt-mdtp-3{
    margin-top: 1rem !important;}

  .w-100.mdtp-w-70{
    width: 70% !important;}

  .mdtp-float-right{
    float: right !important;}

  .mdtp-mr-6{
    margin-top: 6rem;}

  .pl-mdtp-2, .gallery-main, #location-tab02, .floorplans-main, .virtualtour-main{
    padding-left: 2rem;}

  .pr-mdtp-2, .gallery-main, #location-tab02, .floorplans-main, .virtualtour-main{
    padding-right: 2rem;}

  .float-left-mdtp{
    float: left !important;

    li{
      float: left; margin-right: 3px !important;}
  }


  .inner-logo{
    width: 100%; position: relative !important;
    text-align: left !important;
    padding-left: 1.8rem; top: inherit; transform: translate(0%, 0%);

    img{
      width: 100px;}
  }

  .header-content{
    float: left; padding-left: 2rem;}

  .home-page .content {
    width: 100%;}

  .footer-left-content{
    padding-left: 1rem;}

  section.bg-color-black-op6{
    background-color: transparent;}

  .section-pl-25 {
    padding-left: 1.8rem;}

  .content-scrollbar {
    max-height: 520px;}

  .page-bg.team-bg section, section.news-page, section.joinus-page, section.projects-page{
    height: calc(100vh - 130px); overflow: auto;}

  .connect-page, .joinus-page, .news-page, .projects-page, .project-details-page{
    width: 100%;}

  .connect-page, .news-page, .joinus-page, .project-details-page{
    .col-md-6{
      width: 100%; max-width: 100%; flex: 0 0 100%;}
  }

  .team-bg .center-middle, .joinus-page.center-middle, .news-page.center-middle{
    display: block !important;}

  .ouryteam-main #management-content ul li, .ouryteam-main #advisory-content ul li {
    display: block;
    margin-left: 0px; padding: 0px;
    margin-right: 9px; float: left;
  }
  .ouryteam-main #management-content ul li:nth-child(3), .ouryteam-main #advisory-content ul li:nth-child(3),
  .ouryteam-main #management-content ul li:nth-child(6), .ouryteam-main #advisory-content ul li:nth-child(6){
    margin-right: 0px;}


  //#v-pills-tabContent{
  //  display: none;}
  .page-bg.corella-bg{
    background-image:linear-gradient(to right bottom, rgba($color-black, 0.6), rgba($color-black, 0.6) ),
    url("../images/projects-img/corella-project/project-big-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover; background-position: center;
  }

  .project-main .carousel-item {
    height: 100%;}

  .carousel-inner.project-main{
    width: 100% !important; padding: 0px 3rem;
    margin-left: 0!important;}

  .projects-page .carousel.slide{
    width: 100% !important;
    margin-left: 0!important;}

  .carousel-inner.project-main{
    height: 675px;}

  .projects-page .carousel-control-next{
    right: 5px;}
  .projects-page .carousel-control-prev{
    left: 5px;}

  .project-main ul.below-three-project li{
    margin-top:240px !important;
  }

  section.project-details-page{
    height: 85vh; overflow-y: auto; margin-top: 5rem !important;}

  .project-prev, .project-next{
    position: relative; left: inherit; right: inherit;
    bottom: inherit; top: inherit;
    margin-top: 15px;
    transform: translate(0%, 0);}

  .project-prev {
    float: left; margin-left: 2rem;
    &:before{
      display: none;
    }
  }
  .project-next {
    float: right; margin-right: 2rem;
    &:after{
      display: none;
    }
    &:hover{
      .on-hover{
        height: 0px;background: transparent;
      }
    }
  }


  #location-tab02{
    height: 500px;}

  .project-details-page .carousel-inner, .virtualtour-main .tab-content{
    height: 520px;}


  .floorplans-main .carousel-inner .carousel-text{
    position: relative;
    padding: 1.1rem;
  }

  .craft-beer-landing-vidbg, #video_source, #skip{
    display: none !important;
  }

  .mobile_social_icons a li{
    line-height: 15px;
  }


}



.mobile-footer, .mobi-show{
  display: none;}

@media only screen and (max-width: 767px) {
  body {
    background: rgba(0, 0, 0, 0.6) url("../images/bg.jpg") center no-repeat;
    background-size: cover;
  }
  //
  #gallery-tab01, #location-tab02, #amenities-tab03, #floorplans-tab04, #virtualtour-tab05, #download-tab06, #unitplans-tab04{
    h4{
      position: relative;
      &::after{
        content: "";
        display: block;
        width: 50%;
        height: 1px;
        position: absolute;
        left:-53%;
        top: 15px;
        background-color: #1dcfcc;
      }
    }
  }


  .register-content, .header-content, .register-content .w-50, .w-100.mdtp-w-70, .download-main .w-50, .connect-page .w-50, .joinus-form .w-50{
    width: 100% !important; float: left;
  }

  .mobi.pt-4, .mobi.pt-5{
    padding-top: 0px !important;}

  .mobi.border-left{
    border-left: 0px !important;}


  .language-main, .footer-left-content, .mobi-xsl, .social-media, .amenities-tab-show-content, .desktop-show{
    display: none;}

  .mobi-show, .mobi-ipad-show{
    display: block;}

  footer {
    height: 60px;
  }

  .p-sm-0{
    padding: 0px !important;
  }
  .pl-sm-0{
    padding-left: 0px !important;
  }
  .pl-0-7-sm{
    padding-left:0.7rem !important;
  }
  .pr-sm-0, .pr-0-sm{
    padding-right: 0px !important;
  }
  .pb-sm-0, .pb-0-sm{
    padding-bottom: 0px !important;
  }
  .pt-sm-0, .pt-0-sm{
    padding-top: 0px !important;
  }
  .pt-sm-1{
    padding-top: 0.5rem !important;
  }
  .pt-sm-2{
    padding-top: 1rem !important;
  }
  .pt-sm-3{
    padding-top: 2rem !important;
  }
  .pl-2-sm{
    padding-left: 2rem !important;
  }
  .pt-sm-5{
    padding-top: 3rem !important;
  }

  .text-center-sm{
    text-align: center !important;}

  .text-justify-sm{
    text-align: justify;}

  //header{
  //  z-index: 9999 !important;
  //}

  .inner-logo img {
    width: 65px;}

  .header-content{
    padding-left: 0px; padding-right: 0px !important;}

  .page-bg.team-bg section, section.news-page, section.joinus-page, section.projects-page, section.connect-page, section.home-page{
    //height: calc(100vh - 160px); -webkit-overflow-scrolling:touch; overflow-y:scroll}
    height: 88vh;
    padding-bottom: 5rem !important;
    margin-top: 5rem !important; -webkit-overflow-scrolling:touch; overflow-y:scroll}

  section {
    width: calc(100% - 10px);}

  .content-scrollbar{
    overflow: inherit;
    max-height: none;
  }

  .mobile-footer{
    display: block;
    border-top:1px solid $brand-primary;
    background-color: #5a5a5a;
    float: left; position: absolute; left: 0px; top: 0px;
    z-index: 9; width: 100%;

    div{
      height: 65px;
      font-size: 0.9rem;
      text-transform: uppercase;
      padding:0.7rem 1.2rem;
      border-right-color:$brand-primary !important;
    }
  }

  .chat-main{
    .chat-content, .chat-btn{
      width: 100%;
    }
  }
  .chat-main.open-chat {
    margin-top: -325px; display: block;
    .chat-content{
      height: 385px;
      .chat-content-box{
        height: 254px;
      }
    }
  }

  .ouryteam-main{
    min-height: auto;
  }
  ////////////////////////////////////
  //Chat

  .chat-box{
    .b-agent-demo_header{ display: none;}
  }

  .b-agent-demo_header{
    display: none !important;
  }

  .b-agent-demo .b-agent-demo_powered_by {
    top: 44px !important;
  }
  .b-agent-demo .b-agent-demo_header{
    min-height: 0rem !important;
  }



  //////////////////////////////// chat END

  //Project*******************************

  .project-no1-hover{
    .project-no1, .project-no1:hover{
      .project-normal{opacity: 0}
      .project-overlay {
        opacity:1;
      }
    }
    .project-no2, .project-no3, .project-no4, .project-no5, .project-no6, .project-no7, .project-no8{
      .project-normal{opacity:1}
      .project-overlay{opacity:0;}
    }
  }

  .project-no2-hover{
    .project-no2{
      .project-normal{opacity: 0}
      .project-overlay {
        opacity:1;
      }
    }
    .project-no1, .project-no3, .project-no4, .project-no5, .project-no6, .project-no7, .project-no8{
      .project-normal{opacity:1}
      .project-overlay{opacity:0;}
    }
  }

  .project-no3-hover{
    .project-no3{
      .project-normal{opacity: 0}
      .project-overlay {
        opacity:1;
      }
    }
    .project-no1, .project-no2, .project-no4, .project-no5, .project-no6, .project-no7, .project-no8{
      .project-normal{opacity:1}
      .project-overlay{opacity:0;}
    }
  }

  .project-no4-hover{
    .project-no4{
      .project-normal{opacity: 0}
      .project-overlay {
        opacity:1;
      }
    }
    .project-no1, .project-no2, .project-no3, .project-no5, .project-no6, .project-no7, .project-no8{
      .project-normal{opacity:1}
      .project-overlay{opacity:0;}
    }
  }

  .project-no5-hover{
    .project-no5{
      .project-normal{opacity: 0}
      .project-overlay {
        opacity:1;
      }
    }
    .project-no1, .project-no2, .project-no3, .project-no4, .project-no6, .project-no7, .project-no8{
      .project-normal{opacity:1}
      .project-overlay{opacity:0;}
    }
  }

  .project-no6-hover{
    .project-no6{
      .project-normal{opacity: 0}
      .project-overlay {
        opacity:1;
      }
    }
    .project-no1, .project-no2, .project-no3, .project-no4, .project-no5, .project-no7, .project-no8{
      .project-normal{opacity:1}
      .project-overlay{opacity:0;}
    }
  }

  .project-no7-hover{
    .project-no7{
      .project-normal{opacity: 0}
      .project-overlay {
        opacity:1;
      }
    }
    .project-no1, .project-no2, .project-no3, .project-no4, .project-no5, .project-no6, .project-no8{
      .project-normal{opacity:1}
      .project-overlay{opacity:0;}
    }
  }

  .project-no8-hover{
    .project-no8{
      .project-normal{opacity: 0}
      .project-overlay {
        opacity:1;
      }
    }
    .project-no1, .project-no2, .project-no3, .project-no4, .project-no5, .project-no6, .project-no7{
      .project-normal{opacity:1}
      .project-overlay{opacity:0;}
    }
  }



  //News*******************************

  .ouryteam-main #management-content ul li, .ouryteam-main #advisory-content ul li{
    width: calc(50% - 6px);

    &:nth-child(2n){
      margin-right: 0px; }

    &:nth-child(3){
      margin-right: 9px;}
  }

  .register-content {
    margin-top: -100vh;
    height: 100vh; background-color: rgba(0,0,0,0.8);
    position: relative;

    .close__button{
      position: absolute;
    }

  }
  .register-open .register-content, .register-main.register-open .register-content{
    margin-top:0px;
  }


  //.management-list{
  //  display: none;}
  //
  //#management-details{
  //  display: block;}



  //Project

  .carousel-inner.project-main {
    padding: 1rem 2rem; height: auto;
    ul li {
      width: 145px; height: 145px;
    }
  }

  .projects-page .carousel-control-prev, .projects-page .carousel-control-next {
    width: 9% !important;
  }

  .projects-page .carousel-control-prev{
    left: 0px;}

  .projects-page .carousel-control-next {
    right: 0px;}

  .project-main ul.below-three-project li {
    margin-top: 0px !important;
  }

  .carousel-inner, .virtualtour-main .tab-content, #location-tab02, .project-details-page .carousel-inner{
    height: auto;
  }

  .amenities-main li{
    width: 50%;}

  .project-details-page .section-title:after {
    right: -80px;
    top: 12px;
    display: none;
  }

  section.project-details-page {
    height: 88vh;
    padding-bottom: 5rem;
    margin-top: 5rem !important;
    -webkit-overflow-scrolling:touch; overflow-y:scroll
  }
  .floorplans-main .carousel-control-prev, .floorplans-main .carousel-control-next {
    width: 15%;
  }
  .project-next {
    margin-right: 15px;}

  .project-prev {
    margin-left: 15px;}

  .project-next:hover .on-hover, .project-prev:hover .on-hover{
    height: auto;}

  //.floorplans-tabs li:nth-child(1), .virtualtour-tabs li:nth-child(1){
  //  a{padding-top: 26px;}
  //}

  .pr-mdtp-2, .gallery-main, #location-tab02, .floorplans-main, .virtualtour-main {
    padding-top: 1rem;}


  .popup-bg{
    width: 100%; height: 100%;
    position: fixed; top: 0; left: 0;
    background-color: rgba($color-black, 0.8);
    z-index: 9999;
  }

  .m-amenities, .amenities-popup{
    display: none;
  }

  .project-main .project-overlay{
      opacity: 0.6;
  }

  .floorplans-main .carousel-inner .carousel-text{
    position: relative;
    bottom:0;
    padding: 1.1rem;
  }

  .craft-beer-landing-vidbg, #skip, #video_source{
    display: none !important;
  }


  .mobile_social_icons a li{
    line-height: 15px;
  }


}


@media only screen and (max-width: 320px) {
  section.project-details-page{
    height: 74vh;
    padding-bottom: 1rem;
    margin-top: 3rem !important;
  }

  .floorplans-main .carousel-inner .carousel-text{
    position: relative;
    bottom:0;
    padding: 1.1rem;
  }

  .craft-beer-landing-vidbg, #skip, #video_source{
    display: none !important;
  }

  .mobile_social_icons a li{
    line-height: 15px;
  }

}


@media screen and (min-device-width: 1024px) and (max-device-width: 5000px){
  .landscape-popup{
    display: none !important;
  }

  .project-details-page .section-title:after {
    right: -80px;
    top: 12px;
    display: none;
  }
}
@media screen and (min-device-width: 360px) and (max-device-width: 1024px) and (orientation : portrait){
  .landscape-popup{
    display: none;}

  .project-details-page .section-title:after {
    right: -80px;
    top: 12px;
    display: none;
  }
}
@media screen and (min-device-width: 360px) and (max-device-width: 1023px) and (orientation : landscape){
  .landscape-popup{
    background-color:rgba(0,0,0,0.8);
    width:100vw; height: 100vh;
    position: fixed; left: 0px; top: 0; z-index: 999999;
  }

  .project-details-page .section-title:after {
    right: -80px;
    top: 12px;
    display: none;
  }
}




.disclaimer-main{
  width: 100vw; height: 100vh;
  left: 0; top: 0;
  position: fixed;
  z-index: 999999;
  background-color: rgba($color-black,0.8);

  .disclaimer-page-copy {
    position: absolute;
    top: 50%;
    width: 45%;
    left: 25.5%;
    margin: 0 0 20px 0;
    transform: translateY(-50%);
    border-radius: 30px;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.73);
    color: #000;
    font-size: 13px;
    line-height: 20px;
    text-align: justify;

    .scroll {
      position: relative;
      height: 100%;
      overflow-y: auto;
      padding-right: 10px;
      overflow-y: scroll;
      height: 300px;
      margin-bottom: 15px;
    }

  }

  @include respond(tab-land) {
    .disclaimer-page-copy{
      width: 80%; left: 10%;
    }
  }

  @include respond(phone) {
    .disclaimer-page-copy{
      width: calc(100% - 2rem); left:1rem;
    }
  }
}

.mobile_social_icons{
  position: absolute;
  bottom: 4%;
  /* margin-left: 6%; */
  text-decoration: none;
  list-style: none;
  width: 100%;

  ul li{
    line-height: 25px;



  }
}


.mobile_social_icons li{
  line-height: 15px;

  &::after{
    display: none !important;
  }
}